.hero-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1;

  letter-spacing: -0.02em;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 60px;
    margin-bottom: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-title {
    font-size: 80px;
    margin-bottom: 32px;
  }
}
.italic-txt {
  font-style: italic;
}

.hero picture {
  background: linear-gradient(
    0deg,
    rgba(18, 18, 18, 0.2),
    rgba(18, 18, 18, 0.2)
  );
}

.hero img {
  position: relative;
  z-index: -1;
}

.room-pg.hero {
  padding-top: 118px;
  padding-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .room-pg.heroo {
    padding-bottom: 120px;
  }
}

@media screen and (min-width: 1440px) {
  .room-pg.hero {
    padding-top: 108px;
    padding-bottom: 82px;
    position: relative;
  }
}

.hero .container {
  padding-right: 0;
}

@media screen and (min-width: 1440px) {
  .hero .container {
    display: flex;
  }
}

.top-block {
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .top-block {
    padding-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .top-block {
    padding-top: 139px;
    margin-right: auto;
    width: 705px;
  }
}

.top-block {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .top-block {
    margin-bottom: 28px;
  }

  .hero .main-btn {
    justify-content: start;
  }
}

@media screen and (min-width: 768px) {
  .hero .main-btn {
    justify-content: start;
  }
}

@media screen and (min-width: 1440px) {
  .top-block {
    margin-bottom: 0;
  }
}

.hero .hero-txt {
  line-height: calc(18 / 14);

  letter-spacing: 0.05em;
}

@media screen and (min-width: 768px) {
  .hero .hero-txt {
    margin-right: auto;
    padding: 0;
    max-width: 338px;
  }
}

@media screen and (min-width: 1440px) {
  .hero .hero-txt {
    position: absolute;
    left: calc(50% - 687px);
    bottom: 48px;

    padding: 0;
    max-width: 338px;
  }
}

.btns-txt-wrap {
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .btns-txt-wrap {
    display: flex;
    justify-content: space-between;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .btns-txt-wrap {
    display: block;
    padding: 0;
  }
}

/* !swiper */

@media screen and (min-width: 1440px) {
  .hero-room-swiper {
    width: 703px;
  }
}

.hero-room-swiper {
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .hero-room-swiper {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-room-swiper {
    margin-bottom: 0;
  }
}

.hero .slider-btns-wrap {
  display: flex;
  justify-content: end;
  gap: var(--main-gap);
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .hero .slider-btns-wrap {
    margin-bottom: 0;
    order: 2;
  }
}

@media screen and (min-width: 1440px) {
  .hero .slider-btns-wrap {
    position: absolute;
    bottom: 30px;
    right: calc(50% - 119px);
  }
}

.hero .slider-icon {
  display: flex;
  width: 36px;
  height: 36px;
}

@media screen and (min-width: 1440px) {
  .hero-title {
    animation: left-to-right 700ms cubic-bezier(0.4, 0, 0.2, 1) alternate;
  }

  .hero .main-btn {
    animation: zoom-in-on-right 400ms cubic-bezier(0.4, 0, 0.2, 1) 350ms
      alternate both;
  }

  .hero-txt {
    animation: left-to-right 700ms cubic-bezier(0.4, 0, 0.2, 1) 350ms alternate
      both;
  }

  .swiper-container {
    overflow: hidden;
  }

  .hero-room-swiper {
    animation: bg-right-to-left 700ms cubic-bezier(0.4, 0, 0.2, 1) 150ms
      alternate both;
  }

  .slider-btns {
    animation: drop-down 400ms cubic-bezier(0.4, 0, 0.2, 1) 700ms alternate both;
  }
}
