/* !animation */
/* Title/Text */
@keyframes left-to-right {
  0% {
    opacity: 0;
    transform: translateX(-200px) scaleX(0.9);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    transform: translateX(0) scaleX(1);
  }
}

/* Bg Img */
@keyframes bg-right-to-left {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Btns */
@keyframes zoom-in-on-left {
  0% {
    opacity: 0;
    transform: translateX(20%) scale(0.8);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes zoom-in-on-right {
  0% {
    opacity: 0;
    transform: translateX(-20%) scale(0.8);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes drop-down {
  0% {
    opacity: 0;
    transform: translateY(-60%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
