<section>
  <h2 hidden>About a kitchen</h2>

  <picture>
    <!-- Desktop screen -->
    <source media="(min-width: 1440px)" srcset="" type="image/webp" />
    <source media="(min-width: 1440px)" srcset="" type="image/jpg" />

    <!-- Tablet screen -->
    <source media="(min-width: 768px)" srcset="" type="image/webp" />
    <source media="(min-width: 768px)" srcset="" type="image/jpg" />

    <!-- Mobile screen -->
    <source media="(max-width: 767px)" srcset="" type="image/webp" />
    <source media="(max-width: 767px)" srcset="" type="image/jpg" />

    <img src="" alt="" loading="lazy" />
  </picture>

  <picture>
    <!-- Desktop screen -->
    <source media="(min-width: 1440px)" srcset="" type="image/webp" />
    <source media="(min-width: 1440px)" srcset="" type="image/jpg" />

    <!-- Tablet screen -->
    <source media="(min-width: 768px)" srcset="" type="image/webp" />
    <source media="(min-width: 768px)" srcset="" type="image/jpg" />

    <!-- Mobile screen -->
    <source media="(max-width: 767px)" srcset="" type="image/webp" />
    <source media="(max-width: 767px)" srcset="" type="image/jpg" />

    <img src="" alt="" loading="lazy" />
  </picture>

  <picture>
    <!-- Desktop screen -->
    <source media="(min-width: 1440px)" srcset="" type="image/webp" />
    <source media="(min-width: 1440px)" srcset="" type="image/jpg" />

    <!-- Tablet screen -->
    <source media="(min-width: 768px)" srcset="" type="image/webp" />
    <source media="(min-width: 768px)" srcset="" type="image/jpg" />

    <!-- Mobile screen -->
    <source media="(max-width: 767px)" srcset="" type="image/webp" />
    <source media="(max-width: 767px)" srcset="" type="image/jpg" />

    <img src="" alt="" loading="lazy" />
  </picture>

  <p>
    At Mimino, we are experts in meat preparation. Our chefs use only the finest
    and freshest ingredients to create delicious dishes that showcase the
    flavors of premium cuts of meat.
  </p>
  <p>
    Our slow-cooking process and expert seasoning bring out the best in each
    dish, making for an unforgettable dining experience. Come taste the magic of
    meat preparation at Mimino.
  </p>
</section>
