<footer class="footer">
  <div class="container">
    <!-- Navigation -->
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a
            class="nav-link"
            href="./index.html"
            rel="noopener nofollow noreferrer"
            >home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="./hotel-pg.html"
            rel="noopener nofollow noreferrer"
            >hotel</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="./restaurant-pg.html"
            rel="noopener nofollow noreferrer"
            >restaurant</a
          >
        </li>
      </ul>
    </nav>

    <!-- Logo -->
    <a class="logo" href="./index.html" rel="noopener nofollow noreferrer">
      <span class="accent">Mimino</span> restaurant-hotel complex
    </a>

    <!-- Social media -->
    <ul class="soc-media">
      <li class="soc-media-item">
        <a
          class="soc-media-link"
          href="https://www.instagram.com/"
          rel="noopener noreferer nofollow"
          target="_blank"
          aria-label="Instagram"
        >
          <svg class="soc-media-icon">
            <use href="/img/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>

      <li class="soc-media-item">
        <a
          class="soc-media-link"
          href="https://www.facebook.com/"
          rel="noopener noreferer nofollow"
          target="_blank"
          aria-label="Facebook"
        >
          <svg class="soc-media-icon">
            <use href="/img/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>

      <li class="soc-media-item">
        <a
          class="soc-media-link"
          href="https://twitter.com/"
          rel="noopener noreferer nofollow"
          target="_blank"
          aria-label="Twitter"
        >
          <svg class="soc-media-icon">
            <use href="/img/sprite.svg#twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
