<header>
  <div>
    <button type="button">
      <svg width="32" heighr="32">
        <use href="/src/img/sprite.svg#burger"></use>
      </svg>
    </button>
    <nav>
      <ul>
        <li>
          <a href="" target="_blank" rel="noopener nofollow noreferrer">home</a>
        </li>
        <li>
          <a href="" target="_blank" rel="noopener nofollow noreferrer"
            >hotel</a
          >
        </li>
        <li>
          <a href="" target="_blank" rel="noopener nofollow noreferrer"
            >restaurant</a
          >
        </li>
      </ul>
    </nav>
    <a href="" target="_blank" rel="noopener nofollow noreferrer">
      <span>Mimino</span> restaurant-hotel complex
    </a>
    <ul>
        <li>
            <a href="" target="_blank" rel="noopener nofollow noreferrer">
                <svg width="24" height="24">
                    <use href="/src/img/sprite.svg#instagram"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="" target="_blank" rel="noopener nofollow noreferrer">
                <svg width="24" height="24">
                    <use href="/src/img/sprite.svg#facebook"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="" target="_blank" rel="noopener nofollow noreferrer">
                <svg width="24" height="24">
                    <use href="/src/img/sprite.svg#twitter"></use>
                </svg>
            </a>
        </li>
    </ul>
  </div>
</header>