<!-- Header -->
<header>
  <div>
    <button type="button">
      <svg>
        <use href="/img/sprite.svg#burger"></use>
      </svg>
    </button>
    <nav>
      <ul>
        <li>
          <a href="../index.html" rel="noopener nofollow noreferrer">home</a>
        </li>
        <li>
          <a href="../hotel-pg.html" rel="noopener nofollow noreferrer"
            >hotel</a
          >
        </li>
        <li>
          <a href="../restaurant-pg.html" rel="noopener nofollow noreferrer"
            >restaurant</a
          >
        </li>
      </ul>
    </nav>
    <a href="" rel="noopener nofollow noreferrer">
      <span>Mimino</span> restaurant-hotel complex
    </a>

    <!-- Social media -->
    <ul class="soc-media">
      <li class="soc-media-item">
        <a
          class="soc-media-link"
          href="https://www.instagram.com/"
          rel="noopener noreferer nofollow"
          target="_blank"
          aria-label="Instagram"
        >
          <svg class="soc-media-icon">
            <use href="./img/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>

      <li class="soc-media-item">
        <a
          class="soc-media-link"
          href="https://www.facebook.com/"
          rel="noopener noreferer nofollow"
          target="_blank"
          aria-label="Facebook"
        >
          <svg class="soc-media-icon">
            <use href="./img/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>

      <li class="soc-media-item">
        <a
          class="soc-media-link"
          href="https://twitter.com/"
          rel="noopener noreferer nofollow"
          target="_blank"
          aria-label="Twitter"
        >
          <svg class="soc-media-icon">
            <use href="./img/sprite.svg#twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
