<header>
  <div>
    <button type="button">
      <svg>
        <use href="/img/sprite.svg#burger"></use>
      </svg>
    </button>
    <nav>
      <ul>
        <li>
          <a href="../index.html" rel="noopener nofollow noreferrer">home</a>
        </li>
        <li>
          <a href="../hotel-pg.html" rel="noopener nofollow noreferrer"
            >hotel</a
          >
        </li>
        <li>
          <a href="../restaurant-pg.html" rel="noopener nofollow noreferrer"
            >restaurant</a
          >
        </li>
      </ul>
    </nav>
    <a href="" rel="noopener nofollow noreferrer">
      <span>Mimino</span> restaurant-hotel complex
    </a>
    <ul>
      <li>
        <a href="" target="_blank" rel="noopener nofollow noreferrer">
          <svg>
            <use href="/img/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="" target="_blank" rel="noopener nofollow noreferrer">
          <svg>
            <use href="/img/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="" target="_blank" rel="noopener nofollow noreferrer">
          <svg>
            <use href="/img/sprite.svg#twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
