<section>
    <div class="">
        <img srcset="/src/img/home-page/location/map_desk.jpg 1x, /src/img/home-page/location/map_desk@2x.jpg 2x"
        src="/src/img/home-page/location/map_desk.jpg" 
        alt="Map"
        width="640" 
        height="524">
        <h2>location</h2>
        <div class="">
            <h4>Ukraine, Poltava, St. Marshal Biryuzov, 15</h4>
            <div class="">
                <h5>call us:</h5>
                <ul class="">
                    <li>(095) 555 95 33</li>
                    <li>(066) 849 10 89</li>
                </ul>
            </div>
        </div>
    </div>
</section>