-<section>
    <div class="">
        <h2> location </h2>
        
        <picture>
            <!-- Desktop screen -->
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/home-page/location/map_desk.webp    1x,
                ./img/home-page/location/map_desk.webp@2x.webp 2x "
              type="image/webp"
            />
            <source 
            srcset="">

            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/home-page/location/map_desk.jpg    1x,
                ./img/home-page/location/map_desk@2x.jpg 2x "
              type="image/jpg"
            />
            <!-- Tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/home-page/location/map_tabl.webp.webp    1x,
                ../img/home-page/location/map_tabl@2x.webp 2x "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/home-page/location/map_tabl.jpg    1x,
                ../img/home-page/location/map_tabl@2x.jpg 2x "
              type="image/jpg"
            />
            <!-- Mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/home-page/location/map_mob.webp    1x,
                ../img/home-page/location/map_mob@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/home-page/location/map_mob.jpg    1x,
                ../img/home-page/location/map_mob@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="../src/img/home-page/location/map_mob.jpg"
              alt="Map"
              loading="lazy"
            />
          </picture>

          <a href="https://maps.visicom.ua/i/ADR3KAA8P5Z6TE2HZH?lang=uk" 
          class=" ">
            <svg class="" width="27.52" height="34">
                <use href="/src/img/sprite.svg#mapPointer"></use>
            </svg>
        </a>

        <div class="">
            <address>
                <a class="" 
                href="https://maps.visicom.ua/i/ADR3KAA8P5Z6TE2HZH?lang=uk">Ukraine, Poltava, <br /> 
                St. Marshal Biryuzov, 15</a>
                <div class="">
                    <h5>call us:</h5>
                    <ul class="">
                        <li><a href="tel:+380955559533">(095) 555 95 33</a></li>
                        <li><a href="tel:+380668491089">(066) 849 10 89</a></li>
                    </ul>
                </address>
            
            </div>
        </div>
    </div>
</section>