
<div class="backdrop">
    <div class="modal modal-table">
        <h2>BOOK <span>A TABLE</span></h2>
        <svg class="" width="13.5" height="13.5">
        <use href="../img/sprite.svg#cross"></use>
        </svg>

        <form action="" name="table_booking">
            <div>
                <div>
                    <label for="table_person_name"></label>
                    <input type="text" id="table_person_name" name="table_person_name" placeholder="Your name" minlength="2" pattern="[A-Za-z]{1,32}" title="Only latin letters" required>
                </div>
                <p>Who should book a table for?</p>
            </div>

            <div>
                <div>
                    <label for="table_people_number"></label>
                    <select id="table_people_number" name="people_number" required>
                        <option value="8">8</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
            </div>

            <div>
                <div>
                    <label for="table_date"></label>
                    <input type="text" placeholder="Today"
                        onfocus="(this.type='date')" onblur="(this.type='text')" required>
                    <!--<input type="date" id="table_date" name="table_date" placeholder="none">-->
                </div>
                <p>What date to book?</p>
            </div>

            <div>
                <div>
                    <label for="table_phone_number"></label>
                    <input type="tel" id="table_phone_number" name="table_phone_number" placeholder="+ 38 ()" minlength="10" maxlength="10" required>
                    <p>Phone number</p>
                </div>
            </div>
            
            <button type="submit">MAKE A RESERVATION</button>
        </form>
    </div>
</div>

<!--<script src="https://cdn.jsdelivr.net/npm/inputmask@5.0.7/dist/jquery.inputmask.min.js"></script>-->
