<div class="backdrop">
    <div class="modal modal-table">
        <strong>BOOK <em>A TABLE</em></strong>
        <svg class="" width="13.5" height="13.5">
          <use href="..//img/sprite.svg#x-close"></use>
        </svg>

        <form action="" name="table_booking">
            <div>
                <div>
                    <label for="table_person_name">Your name</label>
                    <input type="text" id="table_person_name" name="table_person_name">
                </div>
                <p>Who should book a table for?</p>
            </div>

            <div>
                <div>
                    <label for="table_people_number">Number of people</label>
                    <select id="table_people_number" name="people_number">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
            </div>

            <div>
                <div>
                    <label for="table_date">Today</label>
                    <input type="date" id="table_date" name="table_date">
                </div>
                <p>What date to book?</p>
            </div>

            <div>
                <div>
                    <label for="table_phone_number"></label>
                    <input type="text" id="table_phone_number" name="table_phone_number" placeholder="+ 38 ()">
                    <p>Phone number</p>
                </div>
            </div>
            
            <button type="submit">MAKE A RESERVATION</button>
        </form>
    </div>
</div>