<!-- Modal book a table -->
<div class="modal modal-table" data-modal="1">
  <h2 class="modal-title">BOOK <i>A TABLE</i></h2>

  <svg class="close-icon js-modal-close">
    <use href="/img/sprite.svg#x-close"></use>
  </svg>

  <form class="table-booking-form" name="table_booking_form" autocomplete="off">
    <div class="labels-wrapper field-set field-set-table">
      <label class="modal-label">
        <input
          class="input-field"
          type="text"
          name="table_person_name"
          placeholder="YOUR NAME"
          minlength="2"
          pattern="[A-Za-z]{1,32}"
          title="Only latin letters"
          required
        />
        <span class="label-desc">Who should book a table for?</span>
      </label>

      <label class="modal-label">
        <select class="input-field" name="people_number" required>
          <option selected value="" hidden>NUMBER OF PEOPLE</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
        <svg class="select-icon" width="20" height="20">
          <use href="/img/sprite.svg#chevron-down"></use>
        </svg>
      </label>

      <label class="modal-label order-label rel">
        <input
          class="input-field"
          type="text"
          value="TODAY"
          id="book-date"
          pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}"
          maxlength="10"
        />
        <span class="label-desc">What date to book?</span>
        <svg class="select-icon" width="20" height="20">
          <use href="/img/sprite.svg#chevron-down"></use>
        </svg>
      </label>

      <label class="modal-label">
        <input
          class="input-field"
          type="tel"
          name="table_phone_number"
          placeholder="+ 38 ()"
          minlength="19"
          maxlength="20"
          id="phoneNumber"
          pattern="\+ [0-9]{2} \([0-9]{3}\) [0-9]{3}-[0-9]{2}-[0-9]{2}"
          required
        />
        <span class="label-desc">Phone number</span>
      </label>
    </div>

    <!-- Modal button -->
    <button class="main-btn modal-btn" type="submit">MAKE A RESERVATION</button>
  </form>
</div>

<!-- Modal book a room -->
<div class="modal modal-room" data-modal="2">
  <h2 class="modal-title">BOOK <i>A ROOM</i></h2>

  <svg class="close-icon js-modal-close">
    <use href="/img/sprite.svg#x-close"></use>
  </svg>

  <form class="room-booking-form" name="room_booking_form" autocomplete="off">
    <div class="labels-wrapper field-set field-set-room">
      <label class="modal-label">
        <input
          class="input-field"
          type="text"
          name="table_person_name"
          placeholder="YOUR NAME"
          minlength="2"
          pattern="[A-Za-z]{1,32}"
          title="Only latin letters"
          required
        />
        <span class="label-desc">Who should book a room for?</span>
      </label>

      <label class="modal-label">
        <input
          class="input-field"
          type="tel"
          name="table_phone_number"
          placeholder="+ 38 ()"
          minlength="19"
          maxlength="20"
          id="phoneNumber2"
          pattern="\+ [0-9]{2} \([0-9]{3}\) [0-9]{3}-[0-9]{2}-[0-9]{2}"
          required
        />
        <span class="label-desc">Phone number</span>
      </label>

      <label class="modal-label rel">
        <input
          class="input-field"
          type="text"
          value="TODAY"
          id="from-date"
          pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}"
          maxlength="10"
        />
        <span class="label-desc">Check in date</span>
        <svg class="select-icon" width="20" height="20">
          <use href="/img/sprite.svg#chevron-down"></use>
        </svg>
      </label>

      <label class="modal-label">
        <input
          class="input-field"
          type="text"
          id="to-date"
          pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}"
          maxlength="10"
        />
        <span class="label-desc">Check out date</span>
        <svg class="select-icon" width="20" height="20">
          <use href="/img/sprite.svg#chevron-down"></use>
        </svg>
      </label>

      <label class="modal-label">
        <select class="input-field" name="room_size">
          <option value="double-suite" selected>DOUBLE SUITE</option>
          <option value="triple">TRIPLE ROOM</option>
          <option value="Four-seater">FOUR-SEATER ROOM</option>
        </select>
        <span class="label-desc">Number category</span>
        <svg class="select-icon" width="20" height="20">
          <use href="/img/sprite.svg#chevron-down"></use>
        </svg>
      </label>
    </div>

    <!-- Modal button -->
    <button class="main-btn modal-btn" type="submit">MAKE A RESERVATION</button>
  </form>
</div>

<!-- Modal price per room -->
<div class="modal modal-price" data-modal="3">
  <h2 class="modal-title">PRICES PER <i>ROOM</i></h2>

  <h3 class="modal-subtitle">Double suite</h3>

  <svg class="close-icon js-modal-close">
    <use href="/img/sprite.svg#x-close"></use>
  </svg>

  <form
    class="price-per-room-form"
    name="price_per_room_form"
    autocomplete="off"
  >
    <div class="labels-wrapper field-set field-set-price">
      <label class="modal-label">
        <select class="input-field" name="number_of_nights" id="nightsSelected">
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
        </select>
        <span class="label-desc">Number of nights</span>
        <svg class="select-icon" width="20" height="20">
          <use href="/img/sprite.svg#chevron-down"></use>
        </svg>
      </label>

      <label class="modal-label mobile-label rel">
        <input
          class="input-field mob-label"
          type="text"
          value="TODAY"
          id="check-date"
          pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}"
          maxlength="10"
        />
        <span class="label-desc mob-label">Check in date</span>
        <svg class="select-icon" width="20" height="20">
          <use href="/img/sprite.svg#chevron-down"></use>
        </svg>
      </label>

      <label class="modal-label">
        <input
          class="input-field tab-desc-label"
          type="text"
          value="1000"
          name="room_price"
          disabled
          id="price"
        />
        <span class="label-desc tab-desc-label">UAH</span>
      </label>
    </div>

    <!-- Modal button -->
    <button class="main-btn modal-btn" type="submit">MAKE A RESERVATION</button>
  </form>
</div>

<div class="overlay js-overlay-modal"></div>
