<section>
  <div>
    <div>
      <h2>RESTAURANT</h2>
      <p>
        Relax and unwind with our delicious offerings, available any time of day.
      </p>
    </div>

    <div>
      <ul>
        <li>
          <picture>
            <!-- Desktop screen -->
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/home-page/restaurant/webp/image_desk.webp    1x,
                ./img/home-page/restaurant/webp/image_desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/home-page/restaurant/image_desk.jpg    1x,
                ./img/home-page/restaurant/image_desk@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- Tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/home-page/restaurant/webp/image_tabl.webp    1x,
                ./img/home-page/restaurant/webp/image_tabl@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/home-page/restaurant/image_tabl.jpg    1x,
                ./img/home-page/restaurant/image_tabl@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- Mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/home-page/restaurant/webp/image_mob.webp    1x,
                ./img/home-page/restaurant/webp/image_mob@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/home-page/restaurant/image_mob.jpg    1x,
                ./img/home-page/restaurant/image_mob@2x.jpg 2x
              "
              type="image/jpg"
            />

            <img
              src="./img/home-page/restaurant/image_mob.jpg"
              alt="cocktail"
              loading="lazy"
            />
          </picture>
        </li>
        <li>
          <picture>
            <!-- Desktop screen -->
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/home-page/restaurant/webp/image1_desk.webp    1x,
                ./img/home-page/restaurant/webp/image1_desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/home-page/restaurant/image1_desk.jpg    1x,
                ./img/home-page/restaurant/image1_desk@2x.jpg 2x
              "
              type="image/jpg"
            />

            <img
              src="./img/home-page/restaurant/image1_desk.jpg"
              alt="croissant"
              loading="lazy"
            />
          </picture>
        </li>
        <li>
          <picture>
            <!-- Desktop screen -->
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/home-page/restaurant/webp/image2_desk.webp    1x,
                ./img/home-page/restaurant/webp/image2_desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/home-page/restaurant/image2_desk.jpg    1x,
                ./img/home-page/restaurant/image2_desk@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- Tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/home-page/restaurant/webp/image2_tabl.webp    1x,
                ./img/home-page/restaurant/webp/image2_tabl@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/home-page/restaurant/image2_tabl.jpg    1x,
                ./img/home-page/restaurant/image2_tabl@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- Mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/home-page/restaurant/webp/image2_mob.webp    1x,
                ./img/home-page/restaurant/webp/image2_mob@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/home-page/restaurant/image2_mob.jpg    1x,
                ./img/home-page/restaurant/image2_mob@2x.jpg 2x
              "
              type="image/jpg"
            />

            <img
              src="./img/home-page/restaurant/image2_mob.jpg"
              alt="cook"
              loading="lazy"
            />
          </picture>
        </li>
        <li>
          <picture>
            <!-- Desktop screen -->
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/home-page/restaurant/webp/image3_desk.webp    1x,
                ./img/home-page/restaurant/webp/image3_desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/home-page/restaurant/image3_desk.jpg    1x,
                ./img/home-page/restaurant/image3_desk@2x.jpg 2x
              "
              type="image/jpg"
            />

            <img
              src="./img/home-page/restaurant/image3_desk.jpg"
              alt="wine"
              loading="lazy"
            />
          </picture>
        </li>
        <li>
          <picture>
            <!-- Desktop screen -->
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/home-page/restaurant/webp/image4_desk.webp    1x,
                ./img/home-page/restaurant/webp/image4_desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/home-page/restaurant/image4_desk.jpg    1x,
                ./img/home-page/restaurant/image4_desk@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- Tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/home-page/restaurant/webp/image4_tabl.webp    1x,
                ./img/home-page/restaurant/webp/image4_tabl@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/home-page/restaurant/image4_tabl.jpg    1x,
                ./img/home-page/restaurant/image4_tabl@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- Mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/home-page/restaurant/webp/image4_mob.webp    1x,
                ./img/home-page/restaurant/webp/image4_mob@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/home-page/restaurant/image4_mob.jpg    1x,
                ./img/home-page/restaurant/image4_mob@2x.jpg 2x
              "
              type="image/jpg"
            />

            <img
              src="./img/home-page/restaurant/image4_mob.jpg"
              alt="dinner"
              loading="lazy"
            />
          </picture>
        </li>
        <li>
          <picture>
            <!-- Desktop screen -->
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/home-page/restaurant/webp/image5_desk.webp    1x,
                ./img/home-page/restaurant/webp/image5_desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/home-page/restaurant/image5_desk.jpg    1x,
                ./img/home-page/restaurant/image5_desk@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- Tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/home-page/restaurant/webp/image5_tabl.webp    1x,
                ./img/home-page/restaurant/webp/image5_tabl@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/home-page/restaurant/image5_tabl.jpg    1x,
                ./img/home-page/restaurant/image5_tabl@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- Mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/home-page/restaurant/webp/image5_mob.webp    1x,
                ./img/home-page/restaurant/webp/image5_mob@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/home-page/restaurant/image5_mob.jpg    1x,
                ./img/home-page/restaurant/image5_mob@2x.jpg 2x
              "
              type="image/jpg"
            />

            <img
              src="./img/home-page/restaurant/image5_mob.jpg"
              alt="shrimp"
              loading="lazy"
            />
          </picture>
        </li>
        <li>
          <picture>
            <!-- Desktop screen -->
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/home-page/restaurant/webp/image6_desk.webp    1x,
                ./img/home-page/restaurant/webp/image6_desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/home-page/restaurant/image6_desk.jpg    1x,
                ./img/home-page/restaurant/image6_desk@2x.jpg 2x
              "
              type="image/jpg"
            />

            <img
              src="./img/home-page/restaurant/image6_mob.jpg"
              alt="salmon"
              loading="lazy"
            />
          </picture>
        </li>
        <li>
          <picture>
            <!-- Desktop screen -->
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/home-page/restaurant/webp/image7_desk.webp    1x,
                ./img/home-page/restaurant/webp/image7_desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/home-page/restaurant/image7_desk.jpg    1x,
                ./img/home-page/restaurant/image7_desk@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- Tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/home-page/restaurant/webp/image7_tabl.webp    1x,
                ./img/home-page/restaurant/webp/image7_tabl@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/home-page/restaurant/image7_tabl.jpg    1x,
                ./img/home-page/restaurant/image7_tabl@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- Mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/home-page/restaurant/webp/image7_mob.webp    1x,
                ./img/home-page/restaurant/webp/image7_mob@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/home-page/restaurant/image7_mob.jpg    1x,
                ./img/home-page/restaurant/image7_mob@2x.jpg 2x
              "
              type="image/jpg"
            />

            <img
              src="./img/home-page/restaurant/image7_mob.jpg"
              alt="cocktail-2"
              loading="lazy"
            />
          </picture>
        </li>
        <li>
          <picture>
            <!-- Desktop screen -->
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/home-page/restaurant/webp/image8_desk.webp    1x,
                ./img/home-page/restaurant/webp/image8_desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/home-page/restaurant/image8_desk.jpg    1x,
                ./img/home-page/restaurant/image8_desk@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- Tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/home-page/restaurant/webp/image8_tabl.webp    1x,
                ./img/home-page/restaurant/webp/image8_tabl@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/home-page/restaurant/image8_tabl.jpg    1x,
                ./img/home-page/restaurant/image8_tabl@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- Mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/home-page/restaurant/webp/image8_mob.webp    1x,
                ./img/home-page/restaurant/webp/image8_mob@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/home-page/restaurant/image8_mob.jpg    1x,
                ./img/home-page/restaurant/image8_mob@2x.jpg 2x
              "
              type="image/jpg"
            />

            <img
              src="./img/home-page/restaurant/image8_mob.jpg"
              alt="dish"
              loading="lazy"
            />
          </picture>
        </li>
        <li>
          <picture>
            <!-- Desktop screen -->
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/home-page/restaurant/webp/image9_desk.webp    1x,
                ./img/home-page/restaurant/webp/image9_desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/home-page/restaurant/image9_desk.jpg    1x,
                ./img/home-page/restaurant/image9_desk@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- Tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/home-page/restaurant/webp/image9_tabl.webp    1x,
                ./img/home-page/restaurant/webp/image9_tabl@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/home-page/restaurant/image9_tabl.jpg    1x,
                ./img/home-page/restaurant/image9_tabl@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- Mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/home-page/restaurant/webp/image9_mob.webp    1x,
                ./img/home-page/restaurant/webp/image9_mob@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/home-page/restaurant/image9_mob.jpg    1x,
                ./img/home-page/restaurant/image9_mob@2x.jpg 2x
              "
              type="image/jpg"
            />

            <img
              src="./img/home-page/restaurant/image9_mob.jpg"
              alt="woman"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>
    </div>

    <div>
      <ul>
        <li>
          <button type="button">BOOK A TABLE</button>
        </li>
        <li>
          <button type="button">VIEW THE MENU</button>
        </li>
      </ul>
    </div>
  </div>
</section>
