<section>
    <h2>Restaurant menu</h2>

    <ul>
        <li>
            <h3>Hot meals</h3>

            <ul>
                <li>
                    <div>
                        <p>Veal borscht with beans</p>
                        <p>Veal, potatoes, cabbage, carrots, onions, beans, garlic, tomatoes, greens, sour cream</p>
                    </div>
                    <div>
                        <p>400 g</p>
                        <p>240 UAH</p>
                    </div>
                </li>

                <li>
                    <div>
                        <p>Cheese soup with chicken</p>
                        <p>Chicken, potatoes, carrots, onions, mushrooms, soft cheese, greens</p>
                    </div>
                    <div>
                        <p>400 g</p>
                        <p>200 UAH</p>
                    </div>
                </li>

                <li>
                    <div>
                        <p>Carbonara pasta</p>
                        <p>Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens</p>
                    </div>
                    <div>
                        <p>400 g</p>
                        <p>430 UAH</p>
                    </div>
                </li>

                <li>
                    <div>
                        <p>Pork steak</p>
                        <p>Pork tenderloin, spices, served with sweet chili sauce and vegetables</p>
                    </div>
                    <div>
                        <p>400 g</p>
                        <p>500 UAH</p>
                    </div>
                </li>

                <li>
                    <div>
                        <p>Gorbusha in white wine sauce</p>
                        <p>Tender redfish, cream sauce based on white wine</p>
                    </div>
                    <div>
                        <p>400 g</p>
                        <p>400 UAH</p>
                    </div>
                </li>
            </ul>
        </li>

        <li>
            <h3>Side dishes and snacks</h3>
                
            <ul>
                <li>
                    <div>
                        <p>Baked vegetables</p>
                        <p>Zucchini, pepper, tomato, eggplant</p>
                    </div>
                    <div>
                        <p>200 g</p>
                        <p>230 UAH</p>
                    </div>
                </li>
                <li>
                    <div>
                        <p>French fries</p>
                        <p>Potatoes, tomato sauce</p>
                    </div>
                    <div>
                        <p>150 g</p>
                        <p>160 UAH</p>
                    </div>
                </li>
                <li>
                    <div>
                        <p>Peasant-style potatoes</p>
                        <p>Potatoes, spices, spicy sauces</p>
                    </div>
                    <div>
                        <p>150 g</p>
                        <p>160 UAH</p>
                    </div>
                </li>
                <li>
                    <div>
                        <p>Crisp pickles from the barrel</p>
                        <p>Salted cucumber, pickled tomato, sauerkraut, Korean carrot</p>
                    </div>
                    <div>
                        <p>250 g</p>
                        <p>350 UAH</p>
                    </div>
                </li>
                <li>
                    <div>
                        <p>Chicken wings in honey sauce</p>
                        <p>Chicken wings, mustard-honey sauce, served with carrots, celery and blue cheese sauce</p>
                    </div>
                    <div>
                        <p>400 g</p>
                    </div>
                </li>
            </ul>
        </li>

        <li>
            <h3>Salads</h3>

            <ul>
                <li>
                    <div>
                        <p>Caesar with chicken</p>
                        <p>Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese, croutons, Caesar sauce</p>
                    </div>
                    <div>
                        <p>230 g</p>
                        <p>450 UAH</p>
                    </div>
                </li>
                <li>
                    <div>
                        <p>Caesar with shrimp</p>
                        <p>Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese, croutons, caesar sauce</p>
                    </div>
                    <div>
                        <p>230 g</p>
                        <p>380 UAH</p>
                    </div>
                </li>
                <li>
                    <div>
                        <p>Greek salad</p>
                        <p>Fresh cucumber, tomato, bell pepper, olives, brynza cheese, lettuce, sauce</p>
                    </div>
                    <div>
                        <p>230 g</p>
                        <p>280 UAH</p>
                    </div>
                </li>
                <li>
                    <div>
                        <p>Meat salad</p>
                        <p>Chicken fillet or pork tenderloin, fresh cucumber, tomato, bell pepper, ranch sauce</p>
                    </div>
                    <div>
                        <p>230 g</p>
                        <p>300 UAH</p>
                    </div>
                </li>
            </ul>
        </li>



        <li>
            <ul>
            <li>
                <h3>Desserts</h3>
                            
                    <ul>
                        <li>
                            <p>Napoleon cake</p>
                            <p>200 UAH</p>
                        </li>
                        <li>
                            <p>Poppy cake</p>
                            <p>300 UAH</p>
                        </li>
                        <li>
                            <p>Tiramisu</p>
                            <p>260 UAH</p>
                        </li>
                    </ul>
            </li>
            <li>
                    <h3>Drinks</h3>
                            
                    <ul>
                        <li>
                            <p>Black/green tea</p>
                            <p>100 UAH</p>
                        </li>
                        <li>
                            <p>Espresso</p>
                            <p>100 UAH</p>
                        </li>
                        <li>
                            <p>Cappuccino</p>
                            <p>100 UAH</p>
                        </li>
                    </ul>
            </li>
        </ul>

        </li>
    </ul>

    <button type="button">book a table</button>
</section>

<!-- FOR MOBILE AND TABLET -->

<section>
    <h2>Restaurant menu</h2>
    
    <ul>
        <div>
        <li>
            <h3>Hot meals</h3>
    
            <ul>
                <li>
                    <div>
                        <p>Veal borscht with beans</p>
                        <p>Veal, potatoes, cabbage, carrots, onions, beans, garlic, tomatoes, greens, sour cream</p>
                    </div>
                    <div>
                        <p>400 g</p>
                        <p>240 UAH</p>
                    </div>
                </li>
    
                <li>
                    <div>
                        <p>Cheese soup with chicken</p>
                        <p>Chicken, potatoes, carrots, onions, mushrooms, soft cheese, greens</p>
                    </div>
                    <div>
                        <p>400 g</p>
                        <p>200 UAH</p>
                    </div>
                </li>
    
                <li>
                    <div>
                        <p>Carbonara pasta</p>
                        <p>Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens</p>
                    </div>
                    <div>
                        <p>400 g</p>
                        <p>430 UAH</p>
                    </div>
                </li>
    
                <li>
                    <div>
                        <p>Pork steak</p>
                        <p>Pork tenderloin, spices, served with sweet chili sauce and vegetables</p>
                    </div>
                    <div>
                        <p>400 g</p>
                        <p>500 UAH</p>
                    </div>
                </li>
    
                <li>
                    <div>
                        <p>Gorbusha in white wine sauce</p>
                        <p>Tender redfish, cream sauce based on white wine</p>
                    </div>
                    <div>
                        <p>400 g</p>
                        <p>400 UAH</p>
                    </div>
                </li>
            </ul>
        </li>
        </div>
    
        <div>
        <li>
            <h3>Side dishes and snacks</h3>
    
            <ul>
                <li>
                    <div>
                        <p>Baked vegetables</p>
                        <p>Zucchini, pepper, tomato, eggplant</p>
                    </div>
                    <div>
                        <p>200 g</p>
                        <p>230 UAH</p>
                    </div>
                </li>
                <li>
                    <div>
                        <p>French fries</p>
                        <p>Potatoes, tomato sauce</p>
                    </div>
                    <div>
                        <p>150 g</p>
                        <p>160 UAH</p>
                    </div>
                </li>
                <li>
                    <div>
                        <p>Peasant-style potatoes</p>
                        <p>Potatoes, spices, spicy sauces</p>
                    </div>
                    <div>
                        <p>150 g</p>
                        <p>160 UAH</p>
                    </div>
                </li>
                <li>
                    <div>
                        <p>Crisp pickles from the barrel</p>
                        <p>Salted cucumber, pickled tomato, sauerkraut, Korean carrot</p>
                    </div>
                    <div>
                        <p>250 g</p>
                        <p>350 UAH</p>
                    </div>
                </li>
                <li>
                    <div>
                        <p>Chicken wings in honey sauce</p>
                        <p>Chicken wings, mustard-honey sauce, served with carrots, celery and blue cheese sauce</p>
                    </div>
                    <div>
                        <p>400 g</p>
                    </div>
                </li>
            </ul>
        </li>
        </div>
    
        <div>
        <li>
            <h3>Salads</h3>
    
            <ul>
                <li>
                    <div>
                        <p>Caesar with chicken</p>
                        <p>Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese, croutons, Caesar sauce</p>
                    </div>
                    <div>
                        <p>230 g</p>
                        <p>450 UAH</p>
                    </div>
                </li>
                <li>
                    <div>
                        <p>Caesar with shrimp</p>
                        <p>Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese, croutons, caesar sauce</p>
                    </div>
                    <div>
                        <p>230 g</p>
                        <p>380 UAH</p>
                    </div>
                </li>
                <li>
                    <div>
                        <p>Greek salad</p>
                        <p>Fresh cucumber, tomato, bell pepper, olives, brynza cheese, lettuce, sauce</p>
                    </div>
                    <div>
                        <p>230 g</p>
                        <p>280 UAH</p>
                    </div>
                </li>
                <li>
                    <div>
                        <p>Meat salad</p>
                        <p>Chicken fillet or pork tenderloin, fresh cucumber, tomato, bell pepper, ranch sauce</p>
                    </div>
                    <div>
                        <p>230 g</p>
                        <p>300 UAH</p>
                    </div>
                </li>
            </ul>
        </li>
        </div>
    
    
        <div>
        <li>
            <ul>
                <li>
                    <h3>Desserts</h3>
    
                    <ul>
                        <li>
                            <p>Napoleon cake</p>
                            <p>200 UAH</p>
                        </li>
                        <li>
                            <p>Poppy cake</p>
                            <p>300 UAH</p>
                        </li>
                        <li>
                            <p>Tiramisu</p>
                            <p>260 UAH</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <h3>Drinks</h3>
    
                    <ul>
                        <li>
                            <p>Black/green tea</p>
                            <p>100 UAH</p>
                        </li>
                        <li>
                            <p>Espresso</p>
                            <p>100 UAH</p>
                        </li>
                        <li>
                            <p>Cappuccino</p>
                            <p>100 UAH</p>
                        </li>
                    </ul>
                </li>
            </ul>
    
        </li>
        </div>
    </ul>

        <ul>
            <li>
                <button type="button">
                    <svg>
                        <use href="./img/sprite.svg#chevron-left"></use>
                    </svg>
                </button>
            </li>
            <li>
                <button  type="button">
                    <svg >
                        <use href="./img/sprite.svg#chevron-right"></use>
                    </svg>
                </button>
            </li>
        </ul>
    
    <button type="button">book a table</button>
</section>