/* Body main properties */
body {
  font-family: 'DM Sans', sans-serif;
  color: var(--main-dark-txt-cl);
  font-size: 14px;
  text-transform: uppercase;

  background-color: var(--main-gray-bg);
}

/* Temporary */
svg {
  width: 32px;
  height: 32px;
  fill: transparent;
  stroke: black;
}
