.kitchen .section-text {
  line-height: 1.29;

  letter-spacing: -0.02em;

  color: var(--second-dark-txt-cl);
}

@media screen and (min-width: 768px) {
  .kitchen .section-text {
    font-size: 18px;
    line-height: 1.33;
  }
}

@media screen and (min-width: 1440px) {
  .kitchen .section-text {
    font-weight: 500;
  }
}

.italic {
  font-style: italic;
}

/**
|============================
| Pictures
|============================
*/

@media screen and (max-width: 1439.98px) {
  .kitchen .section-text-wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

@media screen and (max-width: 767.98px) {
  .kitchen-img-wrap {
    margin-bottom: 32px;
  }

  .kitchen-img-list {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .small-picture {
    display: flex;
    gap: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .kitchen-img-wrap {
    margin-bottom: 40px;
  }
  .kitchen-img-list {
    display: inline-flex;
    gap: 32px;
  }
  .third {
    order: 3;
  }

  .small-picture {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .kitchen-img-list {
    display: inline-flex;
    width: 100%;
    gap: 32px;
  }

  .small-picture {
    display: flex;
    gap: 32px;
  }

  .kitchen-container {
    position: relative;
  }

  .kitchen .section-text-wrap {
    position: absolute;
    bottom: 33px;
    right: 32px;
    display: inline-flex;
    gap: 32px;
    max-width: 833px;
  }

  .kitchen .section-text:first-child {
    max-width: 334px;
  }
}
/* 
.third {
  order: 3;
} */
