<section class="hotel-room odd-section section">
  <div class="hotel-room-container container">
    <ul class="hotel-room-img-list">
      <li class="hotel-room-img-item box-1">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/hotel/double-luxury-room/webp/img2_desk.webp    1x,
              ./img/hotel/double-luxury-room/webp/img2_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/hotel/double-luxury-room/img2_desk.jpg    1x,
              ./img/hotel/double-luxury-room/img2_desk@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/hotel/double-luxury-room/webp/img2_tabl.webp    1x,
              ./img/hotel/double-luxury-room/webp/img2_tabl@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/hotel/double-luxury-room/img2_tabl.jpg    1x,
              ./img/hotel/double-luxury-room/img2_tabl@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/hotel/double-luxury-room/webp/img2_mob.webp    1x,
              ./img/hotel/double-luxury-room/webp/img2_mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/hotel/double-luxury-room/img2_mob.jpg    1x,
              ./img/hotel/double-luxury-room/img2_mob@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./img/hotel/double-luxury-room/img2_mob.jpg"
            alt="bedroom"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="hotel-room-img-item box-2">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/hotel/double-luxury-room/webp/img1_desk.webp    1x,
              ./img/hotel/double-luxury-room/webp/img1_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/hotel/double-luxury-room/img1_desk.jpg    1x,
              ./img/hotel/double-luxury-room/img1_desk@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/hotel/double-luxury-room/webp/img1_tabl.webp    1x,
              ./img/hotel/double-luxury-room/webp/img1_tabl@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/hotel/double-luxury-room/img1_tabl.jpg    1x,
              ./img/hotel/double-luxury-room/img1_tabl@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/hotel/double-luxury-room/webp/img1_mob.webp    1x,
              ./img/hotel/double-luxury-room/webp/img1_mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/hotel/double-luxury-room/img1_mob.jpg    1x,
              ./img/hotel/double-luxury-room/img1_mob@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./img/hotel/double-luxury-room/img1_mob.jpg"
            alt="bathroom"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="hotel-room-img-item box-3">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/hotel/double-luxury-room/webp/img_desk.webp    1x,
              ./img/hotel/double-luxury-room/webp/img_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/hotel/double-luxury-room/img_desk.jpg    1x,
              ./img/hotel/double-luxury-room/img_desk@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/hotel/double-luxury-room/webp/img_tabl.webp    1x,
              ./img/hotel/double-luxury-room/webp/img_tabl@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/hotel/double-luxury-room/img_tabl.jpg    1x,
              ./img/hotel/double-luxury-room/img_tabl@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/hotel/double-luxury-room/webp/img_mob.webp    1x,
              ./img/hotel/double-luxury-room/webp/img_mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/hotel/double-luxury-room/img_mob.jpg    1x,
              ./img/hotel/double-luxury-room/img_mob@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./img/hotel/double-luxury-room/img_mob.jpg"
            alt="kitchen"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>

    <div class="hotel-room-cont-wrapper">
      <ul class="main-btn-group">
        <li class="main-btn-group-item">
          <a class="main-btn" href="./room-pg.html">More details</a>
        </li>

        <li class="main-btn-group-item">
          <button class="main-btn js-open-modal" type="button" data-modal="3">
            View prices
          </button>
        </li>
      </ul>

      <div class="text-content">
        <h2 class="double section-title">DOUBLE LUXURY ROOM</h2>
        <div class="section-text-container">
          <p class="section-text">
            Experience luxury in our Double Luxury Room at Mimino Hotel. This
            spacious room features a comfortable bed, private bathroom,
            flat-screen TV, and high-speed Wi-Fi. Climate control, blackout
            curtains, and soundproofing ensure a peaceful night's sleep.
          </p>

          <p class="section-text">
            Relax after a busy day at the writing desk or armchair. Book now for
            a convenient and comfortable stay.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
