
    <div>
      <div>
        <ul>
          <li>
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/hotel/double-luxury-room/webp/img_desk.webp    1x,
                  ./img/hotel/double-luxury-room/webp/img_desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/hotel/double-luxury-room/img_desk.jpg    1x,
                  ./img/hotel/double-luxury-room/img_desk@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/hotel/double-luxury-room/webp/img_tabl-1.webp   1x,
                  ./img/hotel/double-luxury-room/webp/img_mob@2x-1.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/hotel/double-luxury-room/img_tabl-1.jpg   1x,
                  ./img/hotel/double-luxury-room/img_mob@2x-1.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/hotel/double-luxury-room/webp/img_mob-1.webp    1x,
                  ./img/hotel/double-luxury-room/webp/img_mob@2x-1.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/hotel/double-luxury-room/img_mob-1.jpg    1x,
                  ./img/hotel/double-luxury-room/img_mob@2x-1.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="./img/hotel/double-luxury-room/img_mob-1.jpg"
                alt="kitchen"
                loading="lazy"
              />
            </picture>
          </li>
  
          <li>
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/hotel/double-luxury-room/webp/img2_desk.webp    1x,
                  ./img/hotel/double-luxury-room/webp/img2_desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/hotel/double-luxury-room/img2_desk.jpg      1x,
                  ./img/hotel/double-luxury-room/img2_desk@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/hotel/double-luxury-room/webp/img2_tabl-1.webp   1x,
                  ./img/hotel/double-luxury-room/webp/img2_mob@2x-1.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/hotel/double-luxury-room/img2_tabl-1.jpg   1x,
                  ./img/hotel/double-luxury-room/img2_mob@2x-1.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/hotel/double-luxury-room/webp/img2_mob-1.webp    1x,
                  ./img/hotel/double-luxury-room/webp/img2_mob@2x-1.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/hotel/double-luxury-room/img2_mob-1.jpg    1x,
                  ./img/hotel/double-luxury-room/img2_mob@2x-1.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="./img/hotel/double-luxury-room/img2_mob-1.jpg"
                alt="bedroom"
                loading="lazy"
              />
            </picture>
          </li>
  
          <li>
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/hotel/double-luxury-room/webp/img1_desk.webp    1x,
                  ./img/hotel/double-luxury-room/webp/img1_desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/hotel/double-luxury-room/img1_desk.jpg      1x,
                  ./img/hotel/double-luxury-room/img1_desk@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/hotel/tdouble-luxury-room/webp/img1_tabl-1.webp   1x,
                  ./img/hotel/tdouble-luxury-room/webp/img1_mob@2x-1.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/hotel/double-luxury-room/img1_tabl-1.jpg   1x,
                  ./img/hotel/double-luxury-room/img1_mob@2x-1.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/hotel/double-luxury-room/webp/img1_mob-1.webp    1x,
                  ./img/hotel/double-luxury-room/webp/img1_mob@2x-1.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/hotel/double-luxury-room/img1_mob-1.jpg    1x,
                  ./img/hotel/double-luxury-room/img1_mob@2x-1.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="./img/hotel/double-luxury-room/img1_mob-1.jpg"
                alt="bathroom"
                loading="lazy"
              />
            </picture>
          </li>
        </ul>
      </div>
  
      <ul>
        <li>
          <a href="../../room-pg.html">More details</a>
        </li>
  
        <li>
          <button type="button">View prices</button>
        </li>
      </ul>
  
      <div>
        <h2>
            DOUBLE LUXURY ROOM
        </h2>
        <p>
            Experience luxury in our Double Luxury Room at Mimino Hotel. 
            This spacious room features a comfortable bed, private bathroom, flat-screen TV, and high-speed Wi-Fi. 
            Climate control, blackout curtains, and soundproofing ensure a peaceful night's sleep.
           </p>
            <p>
            Relax after a busy day at the writing desk or armchair. Book now for a convenient and comfortable stay.
            </p>
      </div>
    </div>