<section class="four-room section">
  <div class="container">
    <ul class="four-room-img-list">
      <li class="four-room-img-item">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/hotel/four-seater-room/webp/img2_desk.webp    1x,
              ./img/hotel/four-seater-room/webp/img2_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/hotel/four-seater-room/img2_desk.jpg    1x,
              ./img/hotel/four-seater-room/img2_desk@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/hotel/four-seater-room/webp/img2_tabl-2.webp    1x,
              ./img/hotel/four-seater-room/webp/img2_tabl@2x-2.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/hotel/four-seater-room/img2_tabl-2.jpg    1x,
              ./img/hotel/four-seater-room/img2_tabl@2x-2.jpg 2x
            "
            type="image/jpg"
          />

          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/hotel/four-seater-room/webp/img2_mob-2.webp    1x,
              ./img/hotel/four-seater-room/webp/img2_mob@2x-2.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/hotel/four-seater-room/img2_mob-2.jpg    1x,
              ./img/hotel/four-seater-room/img2_mob@2x-2.jpg 2x
            "
            type="image/jpg"
          />

          <img
            src="./img/hotel/four-seater-room/img2_mob-2.jpg"
            alt="Badroom"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="four-room-img-item">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/hotel/four-seater-room/webp/img1_desk.webp    1x,
              ./img/hotel/four-seater-room/webp/img1_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/hotel/four-seater-room/img1_desk.jpg    1x,
              ./img/hotel/four-seater-room/img1_desk@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/hotel/four-seater-room/webp/img1_tabl-2.webp    1x,
              ./img/hotel/four-seater-room/webp/img1_tabl@2x-2.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/hotel/four-seater-room/img1_tabl-2.jpg    1x,
              ./img/hotel/four-seater-room/img1_tabl@2x-2.jpg 2x
            "
            type="image/jpg"
          />

          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/hotel/four-seater-room/webp/img1_mob-2.webp    1x,
              ./img/hotel/four-seater-room/webp/img1_mob@2x-2.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/hotel/four-seater-room/img1_mob-2.jpg    1x,
              ./img/hotel/four-seater-room/img1_mob@2x-2.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./img/hotel/four-seater-room/img1_mob-2.jpg"
            alt="Bathroom"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="four-room-img-item">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/hotel/four-seater-room/webp/img_desk.webp    1x,
              ./img/hotel/four-seater-room/webp/img_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/hotel/four-seater-room/img_desk.jpg    1x,
              ./img/hotel/four-seater-room/img_desk@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/hotel/four-seater-room/webp/img_tabl-2.webp    1x,
              ./img/hotel/four-seater-room/webp/img_tabl@2x-2.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/hotel/four-seater-room/img_tabl-2.jpg    1x,
              ./img/hotel/four-seater-room/img_tabl@2x-2.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/hotel/four-seater-room/webp/img_mob-2.webp    1x,
              ./img/hotel/four-seater-room/webp/img_mob@2x-2.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/hotel/four-seater-room/img_mob-2.jpg    1x,
              ./img/hotel/four-seater-room/img_mob@2x-2.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./img/hotel/four-seater-room/img_mob-2.jpg"
            alt="Kitchen"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
<div class="container">
    
    <div class="text-content">
      <h2 class="section-title">FOUR-SEATER ROOM</h2>
      <p class="section-text">
        Our 4-person room is perfect for small groups, offering comfort and
        convenience with 4 comfortable beds, ample storage, flat-screen TV,
        mini-fridge, coffee maker, desk and chair, air-conditioning, heating,
        and soundproof walls. Book now for a memorable stay.
      </p>
    </div>
    <ul class="main-btn-group">
      <li class="main-btn-group-item">
        <a class="main-btn" href="./room-pg.html">More details</a>
      </li>

      <li class="main-btn-group-item">
        <button class="main-btn" type="button">View prices</button>
      </li>
    </ul>

  </div>
</div>
</section>
