/* ====================
    FOR MOBILE 
===================== */
.hotel-room.section {
  padding-bottom: 0;
}

.hotel-room .section-title {
  margin-bottom: var(--main-gap);
}

.hotel-room-img-list {
  display: flex;
  gap: 20px;
  margin-bottom: var(--main-gap);
}

@media screen and (max-width: 767.98px) {
  .hotel-room-main-img {
    margin-bottom: 20px;
  }

  .hotel-room-cont-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .hotel-room .section-text:first-child {
    margin-bottom: var(--main-gap);
  }

  .hotel-room .main-btn-group {
    margin-top: 28px;
  }

  .double.section-title {
    max-width: 270px;
  }
  .hotel-room .section-text-container {
    letter-spacing: -0.02em;
    line-height: 1.29;
  }
}

/* ====================
    FOR TABLET 
===================== */
@media screen and (min-width: 768px) {
  .hotel-room-container {
    position: relative;
  }

  .hotel-room-main-img {
    position: absolute;
    left: var(--main-gap);
    top: 0;
  }

  .odd-section .hotel-room-main-img {
    left: 405px;
  }

  .hotel-room-img-list {
    gap: var(--main-gap);
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .hotel-room-img-list {
    max-width: 341px;
    flex-direction: column;
    margin-left: auto;
  }

  .hotel-room-cont-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .odd-section .hotel-room-img-list {
    margin-left: 0;
    margin-right: auto;
    align-items: end;
  }

  .hotel-room .section-title {
    font-size: 40px;
    font-weight: 700;
  }

  .hotel-room .section-text-container {
    display: flex;
    gap: var(--main-gap);

    letter-spacing: -0.02em;
    font-size: 18px;
    line-height: 1.33;
  }

  .hotel-room .section-text {
    display: flex;
  }

  .hotel-room .main-btn-group {
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
  }

  .hotel-room.odd-section .main-btn-group {
    justify-content: flex-end;
  }

  .hotel-room .section-text:nth-child(1) {
    max-width: 365px;
  }

  .hotel-room.odd-section .section-text:nth-child(1) {
    max-width: 376px;
  }
}

/* ====================
    FOR DESKTOP 
===================== */

@media screen and (min-width: 1440px) {
  .hotel-room-img-list {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-top: 151px;
    gap: var(--main-gap);
  }

  .hotel-room-main-img,
  .odd-section .hotel-room-main-img {
    left: 450px;
  }

  .hotel-room-img-list {
    margin-bottom: 151px;
  }

  .hotel-room .text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  .hotel-room .section-title {
    margin-bottom: 0;
  }

  .hotel-room .section-text-container {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;

    display: flex;

    max-width: 686px;
    gap: var(--main-gap);
  }

  .hotel-room .section-text:nth-of-type(1) {
    max-width: 365px;
  }

  .hotel-room .hotel-room-cont-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .hotel-room.odd-section .hotel-room-cont-wrapper {
    flex-direction: row-reverse;
  }

  .hotel-room .section-title {
    font-size: 40px;
    font-weight: 700;
  }
}
