<!-- About -->
<section class="about-complex section">
  <div class="container">
    <h2 class="section-title" hidden>About a complex</h2>

    <ul class="about-img-list about">
      <li class="about-img-item">
        <!-- Tablet/Desktop screen -->
        <picture class="first-pic">
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/home-page/about/webp/imag_tabl-desk.webp    1x,
              ./img/home-page/about/webp/imag_tabl-desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/home-page/about/imag_tabl-desk.jpg    1x,
              ./img/home-page/about/imag_tabl-desk@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/home-page/about/webp/imag_mob.webp    1x,
              ./img/home-page/about/webp/imag_mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/home-page/about/imag_mob.jpg    1x,
              ./img/home-page/about/imag_mob@2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            src="./img/home-page/about/imag_mob.jpg"
            alt="Relax zone"
            loading="lazy"
          />
        </picture>

        <picture class="second-pic">
          <!-- Desktop screen -->
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/home-page/about/webp/image1_desk.webp    1x,
              ./img/home-page/about/webp/image1_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/home-page/about/image1_desk.jpg    1x,
              ./img/home-page/about/image1_desk@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/home-page/about/webp/image1_tabl.webp    1x,
              ./img/home-page/about/webp/image1_tabl@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/home-page/about/image1_tabl.jpg    1x,
              ./img/home-page/about/image1_tabl@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/home-page/about/webp/image1_mob.webp    1x,
              ./img/home-page/about/webp/image1_mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/home-page/about/image1_mob.jpg    1x,
              ./img/home-page/about/image1_mob@2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            src="./img/home-page/about/image1_mob.jpg"
            alt="Bathroom"
            loading="lazy"
          />
        </picture>
        <div class="section-description">
          <h3 class="section-subtitle">restaurant-hotel complex</h3>
          <p class="section-text">
            Indulge in a taste of luxury with every bite at Hotel Mimino. From
            the freshest seafood to the most succulent steaks, every dish is
            crafted with care to ensure that you enjoy a truly memorable dining
            experience.
          </p>
          <p class="section-text">
            Treat yourself to a taste of the good life and come dine with us
            today!
          </p>
        </div>
        <div class="rating-mark maria">
          <span class="rating-point">Maria</span>
          <p class="rating-text">
            give rating <span class="rating-point">4.5</span>
          </p>
        </div>
      </li>

      <li class="about-img-item">
        <picture class="first-pic">
          <!-- Tablet/Desktop screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/home-page/about/webp/image_tabl-desk.webp    1x,
              ./img/home-page/about/webp/image_tabl-desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/home-page/about/image_tabl-desk.jpg    1x,
              ./img/home-page/about/image_tabl-desk@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/home-page/about/webp/image_mob.webp    1x,
              ./img/home-page/about/webp/image_mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/home-page/about/image_mob.jpg    1x,
              ./img/home-page/about/image_mob@2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            src="./img/home-page/about/image_mob.jpg"
            alt="Restaurant room"
            loading="lazy"
          />
        </picture>

        <div class="pic-box">
          <picture class="second-pic">
            <!-- Tablet/Desktop screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/home-page/about/webp/unsplash_RFDP7_80v5A_tabl-desk.webp    1x,
                ./img/home-page/about/webp/unsplash_RFDP7_80v5A_tabl-desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/home-page/about/unsplash_RFDP7_80v5A_tabl-desk.jpg    1x,
                ./img/home-page/about/unsplash_RFDP7_80v5A_tabl-desk@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- Mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/home-page/about/webp/unsplash_RFDP7_80v5A_mob.webp    1x,
                ./img/home-page/about/webp/unsplash_RFDP7_80v5A_mob@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/home-page/about/unsplash_RFDP7_80v5A_mob.jpg    1x,
                ./img/home-page/about/unsplash_RFDP7_80v5A_mob@2x.jpg 2x
              "
              type="image/jpg"
            />

            <img
              src="./img/home-page/about/unsplash_RFDP7_80v5A_mob.jpg"
              alt="Restaurant room"
              loading="lazy"
            />
          </picture>

          <div class="section-description">
            <h3 class="section-subtitle">business class hotel</h3>
            <p class="section-text">
              The Mimino hotel features spacious and stylish double luxury rooms
              with modern amenities for a comfortable stay.
            </p>
          </div>

          <div class="rating-mark alexandr">
            <span class="rating-point">Alexander</span>
            <p class="rating-text">
              give rating <span class="rating-point">5.5</span>
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
