<!-- Hero -->
<section class="hero-home section">
  <div class="container">
    <div class="hero-img-container">
      <div class="hero-bg-img"></div>
    </div>
    <div class="hero-content">
      <h1 class="hero-title">Mimino</h1>
      <div class="hero-home-block">
        <ul class="main-btn-group">
          <li class="main-btn-group-item">
            <button class="main-btn js-open-modal" type="button" data-modal="2">
              book a room
            </button>
          </li>
          <li class="main-btn-group-item">
            <button class="main-btn js-open-modal" type="button" data-modal="1">
              book a table
            </button>
          </li>
        </ul>
        <ul class="hero-text-list">
          <li class="hero-text-list-item">
            <p class="hero-text">
              Whether you're in the mood for a hearty breakfast, a light lunch,
              or a romantic dinner, our menu has something for everyone.
            </p>
          </li>
          <li class="hero-text-list-item">
            <p class="hero-text">
              At Hotel Mimino, we believe that great food should be available to
              everyone, no matter the time of day.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
