<section class="">
  <div class="">
    <h1 class="">Mimino</h1>
    <ul class="">
      <li><button class="" type="button">book a room</button></li>
      <li><button class="" type="button">book a table</button></li>
    </ul>
    <ul class="">
      <li>
        <p class="">
          Whether you're in the mood for a hearty breakfast, a light lunch, or a
          romantic dinner, our menu has something for everyone.
        </p>
      </li>
      <li>
        <p class="">
          At Hotel Mimino, we believe that great food should be available to
          everyone, no matter the time of day.
        </p>
      </li>
    </ul>
  </div>
</section>
