<!-- Hotel -->
<section class="hotel section">
  <div class="hotel-container container">
    <div class="hotel-text-wrap">
      <h2 class="section-title">Hotel</h2>
      <p class="section-text">
        Book your stay with us now and experience the epitome of comfort and
        luxury at our hotel. We guarantee you'll be thrilled with your decision.
      </p>
    </div>

    <!-- Img list >= 768px -->
    <ul class="hotel-img-list">
      <li class="hotel-img-item">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/home-page/hotel/webp/image_desk.webp    1x,
              ./img/home-page/hotel/webp/image_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/home-page/hotel/image_desk.jpg    1x,
              ./img/home-page/hotel/image_desk@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/home-page/hotel/webp/image_tabl.webp    1x,
              ./img/home-page/hotel/webp/image_tabl@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/home-page/hotel/image_tabl.jpg    1x,
              ./img/home-page/hotel/image_tabl@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./img/home-page/hotel/image_tabl.jpg"
            alt="Two cans of liquid soap and towels"
            loading="lazy"
          />
        </picture>

        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/home-page/hotel/webp/image2_desk.webp    1x,
              ./img/home-page/hotel/webp/image2_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/home-page/hotel/image2_desk.jpg    1x,
              ./img/home-page/hotel/image2_desk@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/home-page/hotel/webp/image2_tabl.webp    1x,
              ./img/home-page/hotel/webp/image2_tabl@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/home-page/hotel/image2_tabl.jpg    1x,
              ./img/home-page/hotel/image2_tabl@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./img/home-page/hotel/image2_tabl.jpg"
            alt="Bathroom"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="hotel-img-item">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/home-page/hotel/webp/image4_desk.webp    1x,
              ./img/home-page/hotel/webp/image4_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/home-page/hotel/image4_desk.jpg    1x,
              ./img/home-page/hotel/image4_desk@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/home-page/hotel/webp/image4_tabl.webp    1x,
              ./img/home-page/hotel/webp/image4_tabl@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/home-page/hotel/image4_tabl.jpg    1x,
              ./img/home-page/hotel/image4_tabl@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./img/home-page/hotel/image4_tabl.jpg"
            alt="Badroom"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="hotel-img-item">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/home-page/hotel/webp/image3_desk.webp    1x,
              ./img/home-page/hotel/webp/image3_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/home-page/hotel/image3_desk.jpg    1x,
              ./img/home-page/hotel/image3_desk@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/home-page/hotel/webp/image3_tabl.webp    1x,
              ./img/home-page/hotel/webp/image3_tabl@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/home-page/hotel/image3_tabl.jpg    1x,
              ./img/home-page/hotel/image3_tabl@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./img/home-page/hotel/image3_tabl.jpg"
            alt="Sinks in the bathroom"
            loading="lazy"
          />
        </picture>

        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/home-page/hotel/webp/image1_desk.webp    1x,
              ./img/home-page/hotel/webp/image1_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/home-page/hotel/image1_desk.jpg    1x,
              ./img/home-page/hotel/image1_desk@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/home-page/hotel/webp/image1_tabl.webp    1x,
              ./img/home-page/hotel/webp/image1_tabl@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/home-page/hotel/image1_tabl.jpg    1x,
              ./img/home-page/hotel/image1_tabl@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./img/home-page/hotel/image1_tabl.jpg"
            alt="Cream in front of the mirror"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>

    <!-- Img swiper < 768px -->
    <div class="hotel-mob-img">
      <picture class="main-img">
        <!-- Mobile screen -->
        <source
          media="(max-width: 767.99px)"
          srcset="
            ./img/home-page/hotel/webp/image4_mob.webp    1x,
            ./img/home-page/hotel/webp/image4_mob@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767.99px)"
          srcset="
            ./img/home-page/hotel/image4_mob.jpg    1x,
            ./img/home-page/hotel/image4_mob@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          src="./img/home-page/hotel/image4_mob.jpg"
          alt="Badroom"
          loading="lazy"
        />
      </picture>

      <!-- Slider main container -->
      <div class="hotel-swiper swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <picture>
              <!-- Mobile screen -->
              <source
                media="(max-width: 767.99px)"
                srcset="
                  ./img/home-page/hotel/webp/image_mob.webp    1x,
                  ./img/home-page/hotel/webp/image_mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767.99px)"
                srcset="
                  ./img/home-page/hotel/image_mob.jpg    1x,
                  ./img/home-page/hotel/image_mob@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="./img/home-page/hotel/image_mob.jpg"
                alt="Two cans of liquid soap and towels"
                loading="lazy"
              />
            </picture>
          </div>

          <div class="swiper-slide">
            <picture>
              <!-- Mobile screen -->
              <source
                media="(max-width: 767.99px)"
                srcset="
                  ./img/home-page/hotel/webp/image2_mob.webp    1x,
                  ./img/home-page/hotel/webp/image2_mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767.99px)"
                srcset="
                  ./img/home-page/hotel/image2_mob.jpg    1x,
                  ./img/home-page/hotel/image2_mob@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="./img/home-page/hotel/image2_mob.jpg"
                alt="Bathroom"
                loading="lazy"
              />
            </picture>
          </div>

          <div class="swiper-slide">
            <picture>
              <!-- Mobile screen -->
              <source
                media="(max-width: 767.99px)"
                srcset="
                  ./img/home-page/hotel/webp/image3_mob.webp    1x,
                  ./img/home-page/hotel/webp/image3_mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767.99px)"
                srcset="
                  ./img/home-page/hotel/image3_mob.jpg    1x,
                  ./img/home-page/hotel/image3_mob@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="./img/home-page/hotel/image3_mob.jpg"
                alt="Sinks in the bathroom"
                loading="lazy"
              />
            </picture>
          </div>

          <div class="swiper-slide">
            <picture>
              <!-- Mobile screen -->
              <source
                media="(max-width: 767.99px)"
                srcset="
                  ./img/home-page/hotel/webp/image1_mob.webp    1x,
                  ./img/home-page/hotel/webp/image1_mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767.99px)"
                srcset="
                  ./img/home-page/hotel/image1_mob.jpg    1x,
                  ./img/home-page/hotel/image1_mob@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="./img/home-page/hotel/image1_mob.jpg"
                alt="Cream in front of the mirror"
                loading="lazy"
              />
            </picture>
          </div>
        </div>

        <!-- Swiper btns -->
        <ul class="slider-btns">
          <li>
            <button class="slider-btn slider-btn-prev" type="button">
              <svg class="slider-icon">
                <use href="./img/sprite.svg#chevron-left"></use>
              </svg>
            </button>
          </li>
          <li>
            <button class="slider-btn slider-btn-next" type="button">
              <svg class="slider-icon">
                <use href="./img/sprite.svg#chevron-right"></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </div>

    <ul class="main-btn-group">
      <li class="main-btn-group-item">
        <button class="main-btn js-open-modal" type="button" data-modal="2">Book a room</button>
      </li>

      <li class="main-btn-group-item">
        <a class="main-btn" href="./hotel-pg.html">View rooms</a>
      </li>
    </ul>
  </div>
</section>
