<!-- Location -->
<section class="location section">
  <div class="container">
    <!-- Img >= 1440px -->
    <iframe
      id="map_desk"
      class="live-map desk-only"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.9198716599903!2d34.523805915700784!3d49.59926047936694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f34ac947%3A0xbb948724f7cf0b61!2z0JPQvtGC0LXQu9GM0L3Qvi3RgNC10YHRgtC-0YDQsNC90L3QuNC5INC60L7QvNC_0LvQtdC60YEgItCc0ZbQvNGW0L3QviI!5e0!3m2!1sru!2sua!4v1677964399298!5m2!1sru!2sua"
      allowfullscreen=""
      loading="lazy"
    ></iframe>

    <div class="section-cont">
      <h2 class="section-title">location</h2>

      <!-- Img < 1440px -->
      <iframe
        id="map_tabl_mob"
        class="live-map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.9198716599903!2d34.523805915700784!3d49.59926047936694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f34ac947%3A0xbb948724f7cf0b61!2z0JPQvtGC0LXQu9GM0L3Qvi3RgNC10YHRgtC-0YDQsNC90L3QuNC5INC60L7QvNC_0LvQtdC60YEgItCc0ZbQvNGW0L3QviI!5e0!3m2!1sru!2sua!4v1677964399298!5m2!1sru!2sua"
        allowfullscreen=""
        loading="lazy"
      ></iframe>

      <div class="address-content">
        <address class="location-address">
          <ul class="address-list">
            <li class="address-list-item">
              <a
                class="address-link"
                href="https://maps.visicom.ua/i/ADR3KAA8P5Z6TE2HZH?lang=uk"
                target="_blank"
                rel="noopener noreferer nofollow"
                >Ukraine, Poltava, <br />
                St. Marshal Biryuzov, 15</a
              >
            </li>

            <li class="address-list-item">
              <div class="number-content">
                <span class="address-text">call us:</span>

                <ul class="address-list-number">
                  <li class="address-number-item">
                    <a class="tel-link" href="tel:+380955559533"
                      >(095) 555 95 33</a
                    >
                  </li>

                  <li class="address-number-item">
                    <a class="tel-link" href="tel:+380668491089"
                      >(066) 849 10 89</a
                    >
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </address>
      </div>
    </div>
  </div>
</section>
