<!-- Restaurant -->
<section class="restaurant section">
  <div class="restaurant-content-wrap">
    <div class="restaurant-text-wrap container">
      <h2 class="section-title">RESTAURANT</h2>
      <p class="section-text">
        Relax and unwind with our delicious offerings, available any time of
        day.
      </p>
    </div>

    <div class="restaurant-slider-container container">
      <!-- Slider main container -->
      <div class="restaurant-swiper swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/home-page/restaurant/webp/image_desk.webp    1x,
                  ./img/home-page/restaurant/webp/image_desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/home-page/restaurant/image_desk.jpg    1x,
                  ./img/home-page/restaurant/image_desk@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/home-page/restaurant/webp/image_tabl.webp    1x,
                  ./img/home-page/restaurant/webp/image_tabl@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/home-page/restaurant/image_tabl.jpg    1x,
                  ./img/home-page/restaurant/image_tabl@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/home-page/restaurant/webp/image_mob.webp    1x,
                  ./img/home-page/restaurant/webp/image_mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/home-page/restaurant/image_mob.jpg    1x,
                  ./img/home-page/restaurant/image_mob@2x.jpg 2x
                "
                type="image/jpg"
              />

              <img
                src="./img/home-page/restaurant/image_mob.jpg"
                alt="A glass with ice and strawberry"
                loading="lazy"
              />
            </picture>
          </div>

          <div class="swiper-slide pic-desk-only">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/home-page/restaurant/webp/image1_desk.webp    1x,
                  ./img/home-page/restaurant/webp/image1_desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/home-page/restaurant/image1_desk.jpg    1x,
                  ./img/home-page/restaurant/image1_desk@2x.jpg 2x
                "
                type="image/jpg"
              />

              <img
                src="./img/home-page/restaurant/image1_desk.jpg"
                alt="Sandwich"
                loading="lazy"
              />
            </picture>
          </div>

          <div class="swiper-slide pic-desk-only">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/home-page/restaurant/webp/image3_desk.webp    1x,
                  ./img/home-page/restaurant/webp/image3_desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/home-page/restaurant/image3_desk.jpg    1x,
                  ./img/home-page/restaurant/image3_desk@2x.jpg 2x
                "
                type="image/jpg"
              />

              <img
                src="./img/home-page/restaurant/image3_desk.jpg"
                alt="Glass and wine bottle on a table"
                loading="lazy"
              />
            </picture>
          </div>

          <div class="swiper-slide">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/home-page/restaurant/webp/image2_desk.webp    1x,
                  ./img/home-page/restaurant/webp/image2_desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/home-page/restaurant/image2_desk.jpg    1x,
                  ./img/home-page/restaurant/image2_desk@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/home-page/restaurant/webp/image2_tabl.webp    1x,
                  ./img/home-page/restaurant/webp/image2_tabl@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/home-page/restaurant/image2_tabl.jpg    1x,
                  ./img/home-page/restaurant/image2_tabl@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/home-page/restaurant/webp/image2_mob.webp    1x,
                  ./img/home-page/restaurant/webp/image2_mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/home-page/restaurant/image2_mob.jpg    1x,
                  ./img/home-page/restaurant/image2_mob@2x.jpg 2x
                "
                type="image/jpg"
              />

              <img
                src="./img/home-page/restaurant/image2_mob.jpg"
                alt="Chef is cooking"
                loading="lazy"
              />
            </picture>
          </div>

          <div class="swiper-slide pic-desk-only">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/home-page/restaurant/webp/image6_desk.webp    1x,
                  ./img/home-page/restaurant/webp/image6_desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/home-page/restaurant/image6_desk.jpg    1x,
                  ./img/home-page/restaurant/image6_desk@2x.jpg 2x
                "
                type="image/jpg"
              />

              <img
                src="./img/home-page/restaurant/image6_desk.jpg"
                alt="Fried piece of fish on the plate"
                loading="lazy"
              />
            </picture>
          </div>

          <div class="swiper-slide">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/home-page/restaurant/webp/image4_desk.webp    1x,
                  ./img/home-page/restaurant/webp/image4_desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/home-page/restaurant/image4_desk.jpg    1x,
                  ./img/home-page/restaurant/image4_desk@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/home-page/restaurant/webp/image4_tabl.webp    1x,
                  ./img/home-page/restaurant/webp/image4_tabl@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/home-page/restaurant/image4_tabl.jpg    1x,
                  ./img/home-page/restaurant/image4_tabl@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/home-page/restaurant/webp/image4_mob.webp    1x,
                  ./img/home-page/restaurant/webp/image4_mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/home-page/restaurant/image4_mob.jpg    1x,
                  ./img/home-page/restaurant/image4_mob@2x.jpg 2x
                "
                type="image/jpg"
              />

              <img
                src="./img/home-page/restaurant/image4_mob.jpg"
                alt="A plate of spaghetti and glasses of wine on the table"
                loading="lazy"
              />
            </picture>
          </div>

          <div class="swiper-slide">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/home-page/restaurant/webp/image9_desk.webp    1x,
                  ./img/home-page/restaurant/webp/image9_desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/home-page/restaurant/image9_desk.jpg    1x,
                  ./img/home-page/restaurant/image9_desk@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/home-page/restaurant/webp/image9_tabl.webp    1x,
                  ./img/home-page/restaurant/webp/image9_tabl@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/home-page/restaurant/image9_tabl.jpg    1x,
                  ./img/home-page/restaurant/image9_tabl@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/home-page/restaurant/webp/image9_mob.webp    1x,
                  ./img/home-page/restaurant/webp/image9_mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/home-page/restaurant/image9_mob.jpg    1x,
                  ./img/home-page/restaurant/image9_mob@2x.jpg 2x
                "
                type="image/jpg"
              />

              <img
                src="./img/home-page/restaurant/image9_mob.jpg"
                alt="A woman is enjoying a meal"
                loading="lazy"
              />
            </picture>
          </div>

          <div class="swiper-slide">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/home-page/restaurant/webp/image5_desk.webp    1x,
                  ./img/home-page/restaurant/webp/image5_desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/home-page/restaurant/image5_desk.jpg    1x,
                  ./img/home-page/restaurant/image5_desk@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/home-page/restaurant/webp/image5_tabl.webp    1x,
                  ./img/home-page/restaurant/webp/image5_tabl@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/home-page/restaurant/image5_tabl.jpg    1x,
                  ./img/home-page/restaurant/image5_tabl@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/home-page/restaurant/webp/image5_mob.webp    1x,
                  ./img/home-page/restaurant/webp/image5_mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/home-page/restaurant/image5_mob.jpg    1x,
                  ./img/home-page/restaurant/image5_mob@2x.jpg 2x
                "
                type="image/jpg"
              />

              <img
                src="./img/home-page/restaurant/image5_mob.jpg"
                alt="Rice cutlet with shrimp on top"
                loading="lazy"
              />
            </picture>
          </div>

          <div class="swiper-slide">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/home-page/restaurant/webp/image7_desk.webp    1x,
                  ./img/home-page/restaurant/webp/image7_desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/home-page/restaurant/image7_desk.jpg    1x,
                  ./img/home-page/restaurant/image7_desk@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/home-page/restaurant/webp/image7_tabl.webp    1x,
                  ./img/home-page/restaurant/webp/image7_tabl@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/home-page/restaurant/image7_tabl.jpg    1x,
                  ./img/home-page/restaurant/image7_tabl@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/home-page/restaurant/webp/image7_mob.webp    1x,
                  ./img/home-page/restaurant/webp/image7_mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/home-page/restaurant/image7_mob.jpg    1x,
                  ./img/home-page/restaurant/image7_mob@2x.jpg 2x
                "
                type="image/jpg"
              />

              <img
                src="./img/home-page/restaurant/image7_mob.jpg"
                alt="A glass of whiskey with ice and olives"
                loading="lazy"
              />
            </picture>
          </div>

          <div class="swiper-slide">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/home-page/restaurant/webp/image8_desk.webp    1x,
                  ./img/home-page/restaurant/webp/image8_desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/home-page/restaurant/image8_desk.jpg    1x,
                  ./img/home-page/restaurant/image8_desk@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/home-page/restaurant/webp/image8_tabl.webp    1x,
                  ./img/home-page/restaurant/webp/image8_tabl@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/home-page/restaurant/image8_tabl.jpg    1x,
                  ./img/home-page/restaurant/image8_tabl@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/home-page/restaurant/webp/image8_mob.webp    1x,
                  ./img/home-page/restaurant/webp/image8_mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/home-page/restaurant/image8_mob.jpg    1x,
                  ./img/home-page/restaurant/image8_mob@2x.jpg 2x
                "
                type="image/jpg"
              />

              <img
                src="./img/home-page/restaurant/image8_mob.jpg"
                alt="Asparagus in sauce with greens"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <ul class="slider-btns">
        <li>
          <button class="slider-btn slider-btn-prev" type="button">
            <svg class="slider-icon">
              <use href="./img/sprite.svg#chevron-left"></use>
            </svg>
          </button>
        </li>
        <li>
          <button class="slider-btn slider-btn-next" type="button">
            <svg class="slider-icon">
              <use href="./img/sprite.svg#chevron-right"></use>
            </svg>
          </button>
        </li>
      </ul>

      <ul class="main-btn-group">
        <li class="main-btn-group-item">
          <button class="main-btn js-open-modal" type="button" data-modal="1">BOOK A TABLE</button>
        </li>
        <li class="main-btn-group-item">
          <a class="main-btn" href="./restaurant-pg.html">VIEW THE MENU</a>
        </li>
      </ul>
    </div>
  </div>
</section>
