<section class="">
    <div class="">
        <h3 class="">General Amenities & Facilities:</h3>
        <ul class="">
            <li class="">24-hour front desk service</li>
            <li class="">Daily housekeeping</li>
            <li class="">Free Wi-Fi throughout the hotel</li>
            <li class="">Elevator access</li>
            <li class="">Luggage storage</li>
            <li class="">Non-smoking rooms available</li>
            <li class="">Meeting rooms for business and events</li>
            <li class="">On-site parking (surcharge)</li>
            <li class="">Concierge services</li>
        </ul>
    </div>

    <div class="">
        <h3 class="">Bathroom:</h3>
        <ul class="">
            <li class="">Private bathroom with shower</li>
            <li class="">Complimentary toiletries</li>
            <li class="">Hair dryer</li>
            <li class="">Fresh towels daily</li>
            <li class="">Deluxe bathrobes (in some room categories)</li>
        </ul>
    </div>

    <div class="">
        <h3 class="">Bedroom:</h3>
        <ul class="">
            <li class="">Comfortable beds with high-quality linens</li>
            <li class="">Blackout curtains</li>
            <li class="">Climate control (air conditioning and heating)</li>
            <li class="">Safe for valuables</li>
            <li class="">Writing desk and chair</li>
            <li class="">Flat-screen TV with cable channels</li>
        </ul>
    </div>

    <div class="">
        <h3 class="">Kitchen:</h3>
        <ul class="">
            <li class="">In-room kitchenette (in some room categories)</li>
            <li class="">Refrigerator</li>
            <li class="">Microwave</li>
            <li class="">Electric kettle</li>
            <li class="">Cooking utensils and cutlery</li>
            <li class="">Dining table and chairs</li>
        </ul>
    </div>

    <div class="">
        <h3 class="">Media:</h3>
        <ul class="">
            <li class="">Flat-screen TV with cable channels</li>
            <li class="">High-speed Wi-Fi</li>
            <li class="">iPod docking station</li>
            <li class="">Speaker system</li>
            <li class="">Cooking utensils and cutlery</li>
            <li class="">Electrical outlets for charging devices.</li>
        </ul>
    </div>
    

<picture>
<!-- Desktop screen -->
   <source 
   media="(min-width: 1440px)" 
   srcset="../img/room/amenities/Rectangle_3671_desk.webp 1x, ../img/room/amenities/Rectangle_3671_desk@2x.webp 2x" 
   type="image/webp" 
   />
   <source 
   media="(min-width: 1440px)" 
   srcset="../img/room/amenities/Rectangle_3671_desk.jpg 1x, ../img/room/amenities/Rectangle_3671_desk@2x.jpg 2x" 
   type="image/jpg" 
   />

<!-- Tablet screen -->
   <source 
   media="(min-width: 768px)" 
   srcset="../img/room/amenities/Rectangle_3671_tabl.webp 1x, ../img/room/amenities/Rectangle_3671_tabl@2x.webp 2x" 
   type="image/webp" 
   />
   <source 
   media="(min-width: 768px)" 
   srcset="../img/room/amenities/Rectangle_3671_tabl.jpg 1x, ../img/room/amenities/Rectangle_3671_tabl@2x.jpg 2x" 
   type="image/jpg" 
   />

<!-- Mobile screen -->
   <source 
   media="(max-width: 767px)" 
   srcset="../img/room/amenities/Rectangle_3671_mob.webp 1x, ../img/room/amenities/Rectangle_3671_mob@2x.webp 2x" 
   type="image/webp" 
   />
   <source 
   media="(max-width: 767px)" 
   srcset="../img/room/amenities/Rectangle_3671_mob.jpg 1x, ../img/room/amenities/Rectangle_3671_mob@2x.jpg 2x" 
   type="image/jpg" 
   />

<img src="../img/room/amenities/Rectangle_3671_mob.jpg" alt="Badroom" loading="lazy" />
</picture>


<picture>
    <!-- Desktop screen -->
   <source 
   media="(min-width: 1440px)" 
   srcset="../img/room/amenities/Rectangle_3672_desk.webp 1x, ../img/room/amenities/Rectangle_3672_desk@2x.webp 2x" 
   type="image/webp" 
   />
   <source 
   media="(min-width: 1440px)" 
   srcset="../img/room/amenities/Rectangle_3672_desk.jpg 1x, ../img/room/amenities/Rectangle_3672_desk@2x.jpg 2x" 
   type="image/jpg" 
   />

<!-- Tablet screen -->
   <source 
   media="(min-width: 768px)" 
   srcset="../img/room/amenities/Rectangle_3672_tabl.webp 1x, ../img/room/amenities/Rectangle_3672_tabl@2x.webp 2x" 
   type="image/webp" 
   />
   <source 
   media="(min-width: 768px)" 
   srcset="../img/room/amenities/Rectangle_3672_tabl.jpg 1x, ../img/room/amenities/Rectangle_3672_tabl@2x.jpg 2x" 
   type="image/jpg" 
   />

<!-- Mobile screen -->
   <source 
   media="(max-width: 767px)" 
   srcset="../img/room/amenities/Rectangle_3672_mob.webp 1x, ../img/room/amenities/Rectangle_3672_mob@2x.webp 2x" 
   type="image/webp" 
   />
   <source 
   media="(max-width: 767px)" 
   srcset="../img/room/amenities/Rectangle_3672_mob.jpg 1x, ../img/room/amenities/Rectangle_3672_mob@2x.jpg 2x" 
   type="image/jpg" 
   />

    <img src="../img/room/amenities/Rectangle_3672_mob.jpg" alt="Badroom" loading="lazy" />
    </picture>

<button type="button">Book a room</button>

</section>