<!-- Welcome -->
<section class="welcome section">
  <div class="welcome-container container">
    <div class="welcome-text-container">
      <h2 class="section-title welcome-title">
        Welcome to the epitome of <i>luxury</i> and <i>comfort</i>
      </h2>

      <div class="welcome-description">
        <p class="section-text welcome-text">
          Our hotel rooms are elegantly designed with an eye for detail,
          ensuring that you have everything you need for a relaxing and
          rejuvenating stay.
        </p>

        <p class="section-text welcome-text">
          Each room is equipped with the latest amenities, including plush
          bedding, high-speed Wi-Fi, flat-screen TVs, and a coffee maker to help
          you start your day right. Our spacious bathrooms feature luxurious
          toiletries and towels, so you can pamper yourself in complete privacy.
        </p>
      </div>
    </div>

    <div class="welcome-picture">
      <picture>
        <!-- Desktop screen -->
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/home-page/welcome/image_desk.webp    1x,
            ./img/home-page/welcome/image_desk@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/home-page/welcome/image_desk.jpg    1x,
            ./img/home-page/welcome/image_desk@2x.jpg 2x
          "
          type="image/jpg"
        />

        <!-- Tablet screen -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/home-page/welcome/image_tabl.webp    1x,
            ./img/home-page/welcome/image_tabl@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/home-page/welcome/image_tabl.jpg    1x,
            ./img/home-page/welcome/image_tabl@2x.jpg 2x
          "
          type="image/jpg"
        />

        <!-- Mobile screen -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/home-page/welcome/image_mob.webp    1x,
            ./img/home-page/welcome/image_mob@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/home-page/welcome/image_mob.jpg    1x,
            ./img/home-page/welcome/image_mob@2x.jpg 2x
          "
          type="image/jpg"
        />

        <img
          src="./img/home-page/welcome/image_mob.jpg"
          alt="interior of restaurant"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
