<section class="kitchen section">
  <div class="kitchen-container container">
    <h2 class="section-title" hidden>About a kitchen</h2>

    <div class="kitchen-img-wrap">
      <ul class="kitchen-img-list">
        <li class="kitchen-img-item third">
          <picture>
            <!-- Desktop screen -->
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/restaurant/about-kitchen/webp/img_desk.webp    1x,
                ./img/restaurant/about-kitchen/webp/img_desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/restaurant/about-kitchen/img_desk.jpg    1x,
                ./img/restaurant/about-kitchen/img_desk@2x.jpg 2x
              "
              type="image/jpg"
            />
            <!-- Tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/restaurant/about-kitchen/webp/img_tabl-2.webp    1x,
                ./img/restaurant/about-kitchen/webp/img_tabl@2x-2.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/restaurant/about-kitchen/img_tabl-2.jpg    1x,
                ./img/restaurant/about-kitchen/img_tabl@2x-2.jpg 2x
              "
              type="image/jpg"
            />
            <!-- Mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/restaurant/about-kitchen/webp/img_mob.webp    1x,
                ./img/restaurant/about-kitchen/webp/img_mob@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/restaurant/about-kitchen/img_mob.jpg    1x,
                ./img/restaurant/about-kitchen/img_mob@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="./img/restaurant/about-kitchen/img_mob.jpg "
              alt="Cook"
              loading="lazy"
            />
          </picture>
        </li>

        <li class="small-picture">
          <ul class="small-picture-list">
            <li class="small-picture-item">
              <picture>
                <!-- Desktop screen -->
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/restaurant/about-kitchen/webp/img_desk-1.webp    1x,
                    ./img/restaurant/about-kitchen/webp/img_desk@2x-1.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/restaurant/about-kitchen/img_desk-1.jpg    1x,
                    ./img/restaurant/about-kitchen/img_desk@2x-1.jpg 2x
                  "
                  type="image/jpg"
                />
                <!-- Tablet screen -->
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/restaurant/about-kitchen/webp/img_tabl.webp    1x,
                    ./img/restaurant/about-kitchen/webp/img_tabl@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/restaurant/about-kitchen/img_tabl.jpg    1x,
                    ./img/restaurant/about-kitchen/img_tabl@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <!-- Mobile screen -->
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/restaurant/about-kitchen/webp/img_mob-1.webp    1x,
                    ./img/restaurant/about-kitchen/webp/img_mob@2x-1.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/restaurant/about-kitchen/img_mob-1.jpg    1x,
                    ./img/restaurant/about-kitchen/img_mob@2x-1.jpg 2x
                  "
                  type="image/jpg"
                />
                <img
                  src="./img/restaurant/about-kitchen/img_mob-1.jpg"
                  alt="Meat"
                  loading="lazy"
                />
              </picture>
              <p class="section-text desktop">
                At Mimino, we are experts in m<i>eat preparation</i>. Our chefs
                use only the finest and freshest ingredients to
                <i>create delicious dishes</i> that showcase the flavors of
                premium cuts of meat.
              </p>
            </li>

            <li class="small-picture-item">
              <picture>
                <!-- Desktop screen -->
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/restaurant/about-kitchen/webp/img_desk-2.webp    1x,
                    ./img/restaurant/about-kitchen/webp/img_desk@2x-2.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/restaurant/about-kitchen/img_desk-2.jpg    1x,
                    ./img/restaurant/about-kitchen/img_desk@2x-2.jpg 2x
                  "
                  type="image/jpg"
                />
                <!-- Tablet screen -->
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/restaurant/about-kitchen/webp/img_tabl-1.webp    1x,
                    ./img/restaurant/about-kitchen/webp/img_tabl@2x-1.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/restaurant/about-kitchen/img_tabl-1.jpg    1x,
                    ./img/restaurant/about-kitchen/img_tabl@2x-1.jpg 2x
                  "
                  type="image/jpg"
                />
                <!-- Mobile screen -->
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/restaurant/about-kitchen/webp/img_mob-2.webp    1x,
                    ./img/restaurant/about-kitchen/webp/img_mob@2x-2.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/restaurant/about-kitchen/img_mob-2.jpg    1x,
                    ./img/restaurant/about-kitchen/img_mob@2x-2.jpg 2x
                  "
                  type="image/jpg"
                />
                <img
                  src="./img/restaurant/about-kitchen/img_mob-2.jpg"
                  alt="Cocktail"
                  loading="lazy"
                />
              </picture>
              <p class="section-text desktop">
                Our <i>slow-cooking process</i> and expert seasoning bring out
                the best in each dish, making for an unforgettable dining
                experience. Come taste the magic <i>of meat preparation</i> at
                Mimino.
              </p>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="section-text-wrap">
      <ul class="section-text-list">
        <li class="section-text-item">
          <p class="section-text">
            At Mimino, we are experts in m<i>eat preparation</i>. Our chefs use
            only the finest and freshest ingredients to
            <i>create delicious dishes</i> that showcase the flavors of premium
            cuts of meat.
          </p>
        </li>
        <li class="section-text-item">
          <p class="section-text">
            Our <i>slow-cooking process</i> and expert seasoning bring out the
            best in each dish, making for an unforgettable dining experience.
            Come taste the magic <i>of meat preparation at</i> Mimino.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
