<section>
  <h2 hidden>About a kitchen</h2>

  <div>
    <picture>
      <!-- Desktop screen -->
      <source
        media="(min-width: 1440px)"
        srcset="
          ../img/restaurant/about-kitchen/webp/img_desk.webp    1x,
          ../img/restaurant/about-kitchen/webp/img_desk@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 1440px)"
        srcset="
          ../img/restaurant/about-kitchen/img_desk.jpg    1x,
          ../img/restaurant/about-kitchen/img_desk@2x.jpg 2x
        "
        type="image/jpg"
      />
      <!-- Tablet screen -->
      <source
        media="(min-width: 768px)"
        srcset="
          ../img/restaurant/about-kitchen/webp/img_tabl.webp    1x,
          ../img/restaurant/about-kitchen/webp/img_tabl@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ../img/restaurant/about-kitchen/img_tabl.jpg    1x,
          ../img/restaurant/about-kitchen/img_tabl@2x.jpg 2x
        "
        type="image/jpg"
      />
      <!-- Mobile screen -->
      <source
        media="(max-width: 767px)"
        srcset="
          ../img/restaurant/about-kitchen/webp/img_mob.webp    1x,
          ../img/restaurant/about-kitchen/webp/img_mob@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ../img/restaurant/about-kitchen/img_mob.jpg    1x,
          ../img/restaurant/about-kitchen/img_mob@2x.jpg 2x
        "
        type="image/jpg"
      />
      <img src="img_mob.jpg" alt="Cook" loading="lazy" />
    </picture>

    <picture>
      <!-- Desktop screen -->
      <source
        media="(min-width: 1440px)"
        srcset="
          ../img/restaurant/about-kitchen/webp/img_desk-1.webp    1x,
          ../img/restaurant/about-kitchen/webp/img_desk@2x-1.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 1440px)"
        srcset="
          ../img/restaurant/about-kitchen/img_desk-1.jpg    1x,
          ../img/restaurant/about-kitchen/img_desk@2x-1.jpg 2x
        "
        type="image/jpg"
      />
      <!-- Tablet screen -->
      <source
        media="(min-width: 768px)"
        srcset="
          ../img/restaurant/about-kitchen/webp/img_tabl-1.webp    1x,
          ../img/restaurant/about-kitchen/webp/img_tabl@2x-1.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ../img/restaurant/about-kitchen/img_tabl-1.jpg    1x,
          ../img/restaurant/about-kitchen/img_tabl@2x-1.jpg 2x
        "
        type="image/jpg"
      />
      <!-- Mobile screen -->
      <source
        media="(max-width: 767px)"
        srcset="
          ../img/restaurant/about-kitchen/webp/img_mob-1.webp    1x,
          ../img/restaurant/about-kitchen/webp/img_mob@2x-1.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ../img/restaurant/about-kitchen/img_mob-1.jpg    1x,
          ../img/restaurant/about-kitchen/img_mob@2x-1.jpg 2x
        "
        type="image/jpg"
      />
      <img src="img_mob-1.jpg" alt="Meat" loading="lazy" />
    </picture>

    <picture>
      <!-- Desktop screen -->
      <source
        media="(min-width: 1440px)"
        srcset="
          ../img/restaurant/about-kitchen/webp/img_desk-2.webp    1x,
          ../img/restaurant/about-kitchen/webp/img_desk@2x-2.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 1440px)"
        srcset="
          ../img/restaurant/about-kitchen/img_desk-2.jpg    1x,
          ../img/restaurant/about-kitchen/img_desk@2x-2.jpg 2x
        "
        type="image/jpg"
      />
      <!-- Tablet screen -->
      <source
        media="(min-width: 768px)"
        srcset="
          ../img/restaurant/about-kitchen/webp/img_tabl-2.webp    1x,
          ../img/restaurant/about-kitchen/webp/img_tabl@2-2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ../img/restaurant/about-kitchen/img_tabl-2.jpg    1x,
          ../img/restaurant/about-kitchen/img_tabl@2x-2.jpg 2x
        "
        type="image/jpg"
      />
      <!-- Mobile screen -->
      <source
        media="(max-width: 767px)"
        srcset="
          ../img/restaurant/about-kitchen/webp/img_mob-2.webp    1x,
          ../img/restaurant/about-kitchen/webp/img_mob@2x-2.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ../img/restaurant/about-kitchen/img_mob-2.jpg    1x,
          ../img/restaurant/about-kitchen/img_mob@2x-2.jpg 2x
        "
        type="image/jpg"
      />
      <img src="img_mob-2.jpg" alt="Cocktail" loading="lazy" />
    </picture>

    <div>
      <p>
        At Mimino, we are experts in meat preparation. Our chefs use only the
        finest and freshest ingredients to create delicious dishes that showcase
        the flavors of premium cuts of meat.
      </p>
      <p>
        Our slow-cooking process and expert seasoning bring out the best in each
        dish, making for an unforgettable dining experience. Come taste the
        magic of meat preparation at Mimino.
      </p>
    </div>
  </div>
</section>
