<!-- Hero -->
<section class="hero section">
  <div class="container">
    <div class="hero-block">
      <h1 class="hero-title">Restaurant</h1>
      <ul class="main-btn-group">
        <li class="main-btn-group-item">
          <button class="main-btn js-open-modal" type="button" data-modal="1">
            book a table
          </button>
        </li>

        <li class="main-btn-group-item">
          <a class="main-btn" href="#rest_menu">view a menu</a>
        </li>
      </ul>
    </div>

    <!-- Swiper -->
    <div class="swiper-container">
      <div class="hero-swiper swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/webp/image_desk.webp    1x,
                  ./img/restaurant/hero/webp/image_desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/image_desk.jpg    1x,
                  ./img/restaurant/hero/image_desk@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/webp/image_tabl.webp    1x,
                  ./img/restaurant/hero/webp/image_tabl@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/image_tabl.jpg    1x,
                  ./img/restaurant/hero/image_tabl@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/hero/webp/image_mob.webp    1x,
                  ./img/restaurant/hero/webp/image_mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/hero/image_mob.jpg    1x,
                  ./img/restaurant/hero/image_mob@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="./img/restaurant/hero/image_mob.jpg"
                alt="Glasses on the table"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/webp/image_desk-1.webp    1x,
                  ./img/restaurant/hero/webp/image_desk@2x-1.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/image_desk-1.jpg    1x,
                  ./img/restaurant/hero/image_desk@2x-1.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/webp/image_tabl-1.webp    1x,
                  ./img/restaurant/hero/webp/image_tabl@2x-1.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/image_tabl-1.jpg    1x,
                  ./img/restaurant/hero/image_tabl@2x-1.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/hero/webp/image_mob-1.webp    1x,
                  ./img/restaurant/hero/webp/image_mob@2x-1.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/hero/image_mob-1.jpg    1x,
                  ./img/restaurant/hero/image_mob@2x-1.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="./img/restaurant/hero/image_mob-1.jpg"
                alt="sandwich"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/webp/image_desk-2.webp    1x,
                  ./img/restaurant/hero/webp/image_desk@2x-2.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/image_desk-2.jpg    1x,
                  ./img/restaurant/hero/image_desk@2x-2.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/webp/image_tabl-2.webp    1x,
                  ./img/restaurant/hero/webp/image_tabl@2x-2.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/image_tabl-2.jpg    1x,
                  ./img/restaurant/hero/image_tabl@2x-2.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/hero/webp/image_mob-2.webp    1x,
                  ./img/restaurant/hero/webp/image_mob@2x-2.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/hero/image_mob-2.jpg    1x,
                  ./img/restaurant/hero/image_mob@2x-2.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="./img/restaurant/hero/image_mob-2.jpg"
                alt="Cucumber is cut"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/webp/image_desk-3.webp    1x,
                  ./img/restaurant/hero/webp/image_desk@2x-3.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/image_desk-3.jpg    1x,
                  ./img/restaurant/hero/image_desk@2x-3.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/webp/image_tabl-3.webp    1x,
                  ./img/restaurant/hero/webp/image_tabl@2x-3.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/image_tabl-3.jpg    1x,
                  ./img/restaurant/hero/image_tabl@2x-3.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/hero/webp/image_mob-3.webp    1x,
                  ./img/restaurant/hero/webp/image_mob@2x-3.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/hero/image_mob-3.jpg    1x,
                  ./img/restaurant/hero/image_mob@2x-3.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="./img/restaurant/hero/image_mob-3.jpg"
                alt="Bar counter with the inscription relax"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/webp/image_desk-4.webp    1x,
                  ./img/restaurant/hero/webp/image_desk@2x-4.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/image_desk-4.jpg    1x,
                  ./img/restaurant/hero/image_desk@2x-4.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/webp/image_tabl-4.webp    1x,
                  ./img/restaurant/hero/webp/image_tabl@2x-4.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/image_tabl-4.jpg    1x,
                  ./img/restaurant/hero/image_tabl@2x-4.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/hero/webp/image_mob-4.webp    1x,
                  ./img/restaurant/hero/webp/image_mob@2x-4.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/hero/image_mob-4.jpg    1x,
                  ./img/restaurant/hero/image_mob@2x-4.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="./img/restaurant/hero/image_mob-4.jpg"
                alt="The glasses are hung"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/webp/image_desk-5.webp    1x,
                  ./img/restaurant/hero/webp/image_desk@2x-5.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/image_desk-5.jpg    1x,
                  ./img/restaurant/hero/image_desk@2x-5.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/webp/image_tabl-5.webp    1x,
                  ./img/restaurant/hero/webp/image_tabl@2x-5.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/image_tabl-5.jpg    1x,
                  ./img/restaurant/hero/image_tabl@2x-5.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/hero/webp/image_mob-5.webp    1x,
                  ./img/restaurant/hero/webp/image_mob@2x-5.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/hero/image_mob-5.jpg    1x,
                  ./img/restaurant/hero/image_mob@2x-5.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="./img/restaurant/hero/image_mob-5.jpg"
                alt="A table with glasses near the window"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>

    <div class="hero-bottom-block">
      <ul class="slider-btns">
        <li>
          <button class="slider-btn slider-btn-prev" type="button">
            <svg class="slider-icon">
              <use href="./img/sprite.svg#chevron-left"></use>
            </svg>
          </button>
        </li>
        <li>
          <button class="slider-btn slider-btn-next" type="button">
            <svg class="slider-icon">
              <use href="./img/sprite.svg#chevron-right"></use>
            </svg>
          </button>
        </li>
      </ul>

      <p class="hero-text">
        Whether you're in the mood for a hearty breakfast, a light lunch, or a
        romantic dinner, our menu has something for everyone.
      </p>
    </div>
  </div>
</section>
