<section class="rest-menu section">
  <div class="container">
    <h2 class="section-title" id="rest_menu">Restaurant menu</h2>

    <!-- For desktop -->
    <div class="rest-container">
      <ul class="block-list">
        <li class="block-list-item">
          <h3 class="section-subtitle"><i>Hot meals</i></h3>
          <ul class="kitchen-list">
            <li class="kitchen-list-item">
              <div class="dish-wrap">
                <p class="name-dish">Veal borscht with beans</p>
                <p class="ingredients">
                  Veal, potatoes, cabbage, carrots, onions, beans, garlic,
                  tomatoes, greens, sour cream
                </p>
              </div>
              <div class="price-wrap">
                <p class="dish-weight">400 g</p>
                <p class="dish-price">240 UAH</p>
              </div>
            </li>
            <li class="kitchen-list-item">
              <div class="dish-wrap">
                <p class="name-dish">Cheese soup with chicken</p>
                <p class="ingredients">
                  Chicken, potatoes, carrots, onions, mushrooms, soft cheese,
                  greens
                </p>
              </div>
              <div class="price-wrap">
                <p class="dish-weight">400 g</p>
                <p class="dish-price">200 UAH</p>
              </div>
            </li>
            <li class="kitchen-list-item">
              <div class="dish-wrap">
                <p class="name-dish">Carbonara pasta</p>
                <p class="ingredients">
                  Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens
                </p>
              </div>
              <div class="price-wrap">
                <p class="dish-weight">400 g</p>
                <p class="dish-price">430 UAH</p>
              </div>
            </li>
            <li class="kitchen-list-item">
              <div class="dish-wrap">
                <p class="name-dish">Pork steak</p>
                <p class="ingredients">
                  Pork tenderloin, spices, served with sweet chili sauce and
                  vegetables
                </p>
              </div>
              <div class="price-wrap">
                <p class="dish-weight">400 g</p>
                <p class="dish-price">500 UAH</p>
              </div>
            </li>
            <li class="kitchen-list-item">
              <div class="dish-wrap">
                <p class="name-dish">Gorbusha in white wine sauce</p>
                <p class="ingredients">
                  Tender redfish, cream sauce based on white wine
                </p>
              </div>
              <div class="price-wrap">
                <p class="dish-weight">400 g</p>
                <p class="dish-price">400 UAH</p>
              </div>
            </li>
          </ul>
        </li>

        <li class="block-list-item">
          <h3 class="section-subtitle"><i>Side dishes and snacks</i></h3>
          <ul class="kitchen-list">
            <li class="kitchen-list-item">
              <div class="dish-wrap">
                <p class="name-dish">Baked vegetables</p>
                <p class="ingredients">Zucchini, pepper, tomato, eggplant</p>
              </div>
              <div class="price-wrap">
                <p class="dish-weight">200 g</p>
                <p class="dish-price">230 UAH</p>
              </div>
            </li>
            <li class="kitchen-list-item">
              <div class="dish-wrap">
                <p class="name-dish">French fries</p>
                <p class="ingredients">Potatoes, tomato sauce</p>
              </div>
              <div class="price-wrap">
                <p class="dish-weight">150 g</p>
                <p class="dish-price">160 UAH</p>
              </div>
            </li>
            <li class="kitchen-list-item">
              <div class="dish-wrap">
                <p class="name-dish">Peasant-style potatoes</p>
                <p class="ingredients">Potatoes, spices, spicy sauces</p>
              </div>
              <div class="price-wrap">
                <p class="dish-weight">150 g</p>
                <p class="dish-price">160 UAH</p>
              </div>
            </li>
            <li class="kitchen-list-item">
              <div class="dish-wrap">
                <p class="name-dish">Crisp pickles from the barrel</p>
                <p class="ingredients">
                  Salted cucumber, pickled tomato, sauerkraut, Korean carrot
                </p>
              </div>
              <div class="price-wrap">
                <p class="dish-weight">250 g</p>
                <p class="dish-price">350 UAH</p>
              </div>
            </li>
            <li class="kitchen-list-item">
              <div class="dish-wrap">
                <p class="name-dish">Chicken wings in honey sauce</p>
                <p class="ingredients">
                  Chicken wings, mustard-honey sauce, served with carrots,
                  celery and blue cheese sauce
                </p>
              </div>
              <div class="price-wrap">
                <p class="dish-weight">400 g</p>
              </div>
            </li>
          </ul>
        </li>

        <li class="block-list-item">
          <h3 class="section-subtitle"><i>Salads</i></h3>
          <ul class="kitchen-list">
            <li class="kitchen-list-item">
              <div class="dish-wrap">
                <p class="name-dish">Caesar with chicken</p>
                <p class="ingredients">
                  Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese,
                  croutons, Caesar sauce
                </p>
              </div>
              <div class="price-wrap">
                <p class="dish-weight">230 g</p>
                <p class="dish-price">450 UAH</p>
              </div>
            </li>
            <li class="kitchen-list-item">
              <div class="dish-wrap">
                <p class="name-dish">Caesar with shrimp</p>
                <p class="ingredients">
                  Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese,
                  croutons, caesar sauce
                </p>
              </div>
              <div class="price-wrap">
                <p class="dish-weight">230 g</p>
                <p class="dish-price">380 UAH</p>
              </div>
            </li>
            <li class="kitchen-list-item">
              <div class="dish-wrap">
                <p class="name-dish">Greek salad</p>
                <p class="ingredients">
                  Fresh cucumber, tomato, bell pepper, olives, brynza cheese,
                  lettuce, sauce
                </p>
              </div>
              <div class="price-wrap">
                <p class="dish-weight">230 g</p>
                <p class="dish-price">280 UAH</p>
              </div>
            </li>
            <li class="kitchen-list-item">
              <div class="dish-wrap">
                <p class="name-dish">Meat salad</p>
                <p class="ingredients">
                  Chicken fillet or pork tenderloin, fresh cucumber, tomato,
                  bell pepper, ranch sauce
                </p>
              </div>
              <div class="price-wrap">
                <p class="dish-weight">230 g</p>
                <p class="dish-price">300 UAH</p>
              </div>
            </li>
          </ul>
        </li>

        <li class="block-list-item">
          <ul class="kitchen-list">
            <li>
              <h3 class="section-subtitle"><i>Desserts</i></h3>
              <ul>
                <li class="kitchen-list-item">
                  <p class="name-dish">Napoleon cake</p>
                  <p class="dish-price">200 UAH</p>
                </li>
                <li class="kitchen-list-item">
                  <p class="name-dish">Poppy cake</p>
                  <p class="dish-price">300 UAH</p>
                </li>
                <li class="kitchen-list-item">
                  <p class="name-dish">Tiramisu</p>
                  <p class="dish-price">260 UAH</p>
                </li>
              </ul>
            </li>
            <li>
              <h3 class="section-subtitle"><i>Drinks</i></h3>
              <ul>
                <li class="kitchen-list-item">
                  <p class="name-dish">Black/green tea</p>
                  <p class="dish-price">100 UAH</p>
                </li>
                <li class="kitchen-list-item">
                  <p class="name-dish">Espresso</p>
                  <p class="dish-price">100 UAH</p>
                </li>
                <li class="kitchen-list-item">
                  <p class="name-dish">Cappuccino</p>
                  <p class="dish-price">100 UAH</p>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- For tablet and phone -->
    <div class="rest-container-mob">
      <!-- Slider main container -->
      <div class="rest-pg-swiper swiper">
        <!-- Additional required wrap -->
        <div class="swiper-wrapper swiper-wrapper-menu">
          <!-- Slides -->
          <div class="swiper-slide">
            <h3 class="section-subtitle"><i>Hot meals</i></h3>
            <ul class="kitchen-list">
              <li class="kitchen-list-item">
                <div class="dish-wrap">
                  <p class="name-dish">Veal borscht with beans</p>
                  <p class="ingredients">
                    Veal, potatoes, cabbage, carrots, onions, beans, garlic,
                    tomatoes, greens, sour cream
                  </p>
                </div>
                <div class="price-wrap">
                  <p class="dish-weight">400 g</p>
                  <p class="dish-price">240 UAH</p>
                </div>
              </li>
              <li class="kitchen-list-item">
                <div class="dish-wrap">
                  <p class="name-dish">Cheese soup with chicken</p>
                  <p class="ingredients">
                    Chicken, potatoes, carrots, onions, mushrooms, soft cheese,
                    greens
                  </p>
                </div>
                <div class="price-wrap">
                  <p class="dish-weight">400 g</p>
                  <p class="dish-price">200 UAH</p>
                </div>
              </li>
              <li class="kitchen-list-item">
                <div class="dish-wrap">
                  <p class="name-dish">Carbonara pasta</p>
                  <p class="ingredients">
                    Tagliatelle pasta, bacon, cream, Parmesan cheese, egg,
                    greens
                  </p>
                </div>
                <div class="price-wrap">
                  <p class="dish-weight">400 g</p>
                  <p class="dish-price">430 UAH</p>
                </div>
              </li>
              <li class="kitchen-list-item">
                <div class="dish-wrap">
                  <p class="name-dish">Pork steak</p>
                  <p class="ingredients">
                    Pork tenderloin, spices, served with sweet chili sauce and
                    vegetables
                  </p>
                </div>
                <div class="price-wrap">
                  <p class="dish-weight">400 g</p>
                  <p class="dish-price">500 UAH</p>
                </div>
              </li>
              <li class="kitchen-list-item">
                <div class="dish-wrap">
                  <p class="name-dish">Gorbusha in white wine sauce</p>
                  <p class="ingredients">
                    Tender redfish, cream sauce based on white wine
                  </p>
                </div>
                <div class="price-wrap">
                  <p class="dish-weight">400 g</p>
                  <p class="dish-price">400 UAH</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="swiper-slide">
            <h3 class="section-subtitle"><i>Side dishes and snacks</i></h3>
            <ul class="kitchen-list">
              <li class="kitchen-list-item">
                <div class="dish-wrap">
                  <p class="name-dish">Baked vegetables</p>
                  <p class="ingredients">Zucchini, pepper, tomato, eggplant</p>
                </div>
                <div class="price-wrap">
                  <p class="dish-weight">200 g</p>
                  <p class="dish-price">230 UAH</p>
                </div>
              </li>
              <li class="kitchen-list-item">
                <div class="dish-wrap">
                  <p class="name-dish">French fries</p>
                  <p class="ingredients">Potatoes, tomato sauce</p>
                </div>
                <div class="price-wrap">
                  <p class="dish-weight">150 g</p>
                  <p class="dish-price">160 UAH</p>
                </div>
              </li>
              <li class="kitchen-list-item">
                <div class="dish-wrap">
                  <p class="name-dish">Peasant-style potatoes</p>
                  <p class="ingredients">Potatoes, spices, spicy sauces</p>
                </div>
                <div class="price-wrap">
                  <p class="dish-weight">150 g</p>
                  <p class="dish-price">160 UAH</p>
                </div>
              </li>
              <li class="kitchen-list-item">
                <div class="dish-wrap">
                  <p class="name-dish">Crisp pickles from the barrel</p>
                  <p class="ingredients">
                    Salted cucumber, pickled tomato, sauerkraut, Korean carrot
                  </p>
                </div>
                <div class="price-wrap">
                  <p class="dish-weight">250 g</p>
                  <p class="dish-price">350 UAH</p>
                </div>
              </li>
              <li class="kitchen-list-item">
                <div class="dish-wrap">
                  <p class="name-dish">Chicken wings in honey sauce</p>
                  <p class="ingredients">
                    Chicken wings, mustard-honey sauce, served with carrots,
                    celery and blue cheese sauce
                  </p>
                </div>
                <div class="price-wrap">
                  <p class="dish-weight">400 g</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="swiper-slide">
            <h3 class="section-subtitle"><i>Salads</i></h3>
            <ul class="kitchen-list">
              <li class="kitchen-list-item">
                <div class="dish-wrap">
                  <p class="name-dish">Caesar with chicken</p>
                  <p class="ingredients">
                    Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese,
                    croutons, Caesar sauce
                  </p>
                </div>
                <div class="price-wrap">
                  <p class="dish-weight">230 g</p>
                  <p class="dish-price">450 UAH</p>
                </div>
              </li>
              <li class="kitchen-list-item">
                <div class="dish-wrap">
                  <p class="name-dish">Caesar with shrimp</p>
                  <p class="ingredients">
                    Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese,
                    croutons, caesar sauce
                  </p>
                </div>
                <div class="price-wrap">
                  <p class="dish-weight">230 g</p>
                  <p class="dish-price">380 UAH</p>
                </div>
              </li>
              <li class="kitchen-list-item">
                <div class="dish-wrap">
                  <p class="name-dish">Greek salad</p>
                  <p class="ingredients">
                    Fresh cucumber, tomato, bell pepper, olives, brynza cheese,
                    lettuce, sauce
                  </p>
                </div>
                <div class="price-wrap">
                  <p class="dish-weight">230 g</p>
                  <p class="dish-price">280 UAH</p>
                </div>
              </li>
              <li class="kitchen-list-item">
                <div class="dish-wrap">
                  <p class="name-dish">Meat salad</p>
                  <p class="ingredients">
                    Chicken fillet or pork tenderloin, fresh cucumber, tomato,
                    bell pepper, ranch sauce
                  </p>
                </div>
                <div class="price-wrap">
                  <p class="dish-weight">230 g</p>
                  <p class="dish-price">300 UAH</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="swiper-slide">
            <ul class="kitchen-list">
              <li>
                <h3 class="section-subtitle"><i>Desserts</i></h3>
                <ul>
                  <li class="kitchen-list-item">
                    <p class="name-dish">Napoleon cake</p>
                    <p class="dish-price">200 UAH</p>
                  </li>
                  <li class="kitchen-list-item">
                    <p class="name-dish">Poppy cake</p>
                    <p class="dish-price">300 UAH</p>
                  </li>
                  <li class="kitchen-list-item">
                    <p class="name-dish">Tiramisu</p>
                    <p class="dish-price">260 UAH</p>
                  </li>
                </ul>
              </li>
              <li>
                <h3 class="section-subtitle"><i>Drinks</i></h3>
                <ul>
                  <li class="kitchen-list-item">
                    <p class="name-dish">Black/green tea</p>
                    <p class="dish-price">100 UAH</p>
                  </li>
                  <li class="kitchen-list-item">
                    <p class="name-dish">Espresso</p>
                    <p class="dish-price">100 UAH</p>
                  </li>
                  <li class="kitchen-list-item">
                    <p class="name-dish">Cappuccino</p>
                    <p class="dish-price">100 UAH</p>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <!-- Swiper btns -->
        <ul class="slider-btns">
          <li>
            <button class="slider-btn slider-btn-prev" type="button">
              <svg class="slider-icon">
                <use href="./img/sprite.svg#chevron-left"></use>
              </svg>
            </button>
          </li>
          <li>
            <button class="slider-btn slider-btn-next" type="button">
              <svg class="slider-icon">
                <use href="./img/sprite.svg#chevron-right"></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </div>

    <button class="main-btn js-open-modal" type="button" data-modal="1">
      book a table
    </button>
  </div>
</section>
