<section class="hero room-pg section">
  <div class="container">
    <div class="top-block">
      <h1 class="hero-title">
        DOUBLE <br />
        <span class="italic-txt">LUXURY</span> ROOM
      </h1>
      <button
        class="main-btn view-prc-btn js-open-modal"
        type="button"
        data-modal="3"
      >
        View prices
      </button>
    </div>

    <!-- Swiper -->
    <div class="swiper-container">
      <div class="hero-room-swiper swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/room/hero/webp/image_desk.webp    1x,
                  ./img/room/hero/webp/image_desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/room/hero/image_desk.jpg    1x,
                  ./img/room/hero/image_desk@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/room/hero/webp/image_tabl.webp    1x,
                  ./img/room/hero/webp/image_tabl@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/room/hero/image_tabl.jpg    1x,
                  ./img/room/hero/image_tabl@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/room/hero/webp/image_mob.webp    1x,
                  ./img/room/hero/webp/image_mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/room/hero/image_mob.jpg    1x,
                  ./img/room/hero/image_mob@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="./img/room/hero/image_mob.jpg"
                alt="bedroom"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/room/hero/webp/image_desk-1.webp    1x,
                  ./img/room/hero/webp/image_desk@2x-1.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/room/hero/image_desk-1.jpg    1x,
                  ./img/room/hero/image_desk@2x-1.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/room/hero/webp/image_tabl-1.webp    1x,
                  ./img/room/hero/webp/image_tabl@2x-1.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/room/hero/image_tabl-1.jpg    1x,
                  ./img/room/hero/image_tabl@2x-1.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/room/hero/webp/image_mob-1.webp    1x,
                  ./img/room/hero/webp/image_mob@2x-1.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/room/hero/image_mob-1.jpg    1x,
                  ./img/room/hero/image_mob@2x-1.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="./img/room/hero/image_mob-1.jpg"
                alt="kitchen"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/room/hero/webp/image_desk-2.webp    1x,
                  ./img/room/hero/webp/image_desk@2x-2.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/room/hero/image_desk-2.jpg    1x,
                  ./img/room/hero/image_desk@2x-2.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/room/hero/webp/image_tabl-2.webp    1x,
                  ./img/room/hero/webp/image_tabl@2x-2.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/room/hero/image_tabl-2.jpg    1x,
                  ./img/room/hero/image_tabl@2x-2.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/room/hero/webp/image_mob-2.webp    1x,
                  ./img/room/hero/webp/image_mob@2x-2.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/room/hero/image_mob-2.jpg    1x,
                  ./img/room/hero/image_mob@2x-2.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="./img/room/hero/image_mob-2.jpg"
                alt="living room"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/room/hero/webp/image_desk-3.webp    1x,
                  ./img/room/hero/webp/image_desk@2x-3.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/room/hero/image_desk-3.jpg    1x,
                  ./img/room/hero/image_desk@2x-3.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/room/hero/webp/image_tabl-3.webp    1x,
                  ./img/room/hero/webp/image_tabl@2x-3.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/room/hero/image_tabl-3.jpg    1x,
                  ./img/room/hero/image_tabl@2x-3.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/room/hero/webp/image_mob-3.webp    1x,
                  ./img/room/hero/webp/image_mob@2x-3.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/room/hero/image_mob-3.jpg    1x,
                  ./img/room/hero/image_mob@2x-3.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="./img/room/hero/image_mob-3.jpg"
                alt="bathroom"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/room/hero/webp/image_desk-4.webp    1x,
                  ./img/room/hero/webp/image_desk@2x-4.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/room/hero/image_desk-4.jpg    1x,
                  ./img/room/hero/image_desk@2x-4.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/room/hero/webp/image_tabl-4.webp    1x,
                  ./img/room/hero/webp/image_tabl@2x-4.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/room/hero/image_tabl-4.jpg    1x,
                  ./img/room/hero/image_tabl@2x-4.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/room/hero/webp/image_mob-4.webp    1x,
                  ./img/room/hero/webp/image_mob@2x-4.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/room/hero/image_mob-4.jpg    1x,
                  ./img/room/hero/image_mob@2x-4.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="./img/room/hero/image_mob-4.jpg"
                alt="bathroom"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/room/hero/webp/image_desk-5.webp    1x,
                  ./img/room/hero/webp/image_desk@2x-5.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/room/hero/image_desk-5.jpg    1x,
                  ./img/room/hero/image_desk@2x-5.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/room/hero/webp/image_tabl-5.webp    1x,
                  ./img/room/hero/webp/image_tabl@2x-5.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/room/hero/image_tabl-5.jpg    1x,
                  ./img/room/hero/image_tabl@2x-5.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/room/hero/webp/image_mob-5.webp    1x,
                  ./img/room/hero/webp/image_mob@2x-5.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/room/hero/image_mob-5.jpg    1x,
                  ./img/room/hero/image_mob@2x-5.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="./img/room/hero/image_mob-5.jpg"
                alt="shower"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>

    <!-- Swiper btns -->
    <div class="btns-txt-wrap">
      <div class="slider-btns-wrap">
        <ul class="slider-btns">
          <li>
            <button class="slider-btn slider-btn-prev" type="button">
              <svg class="slider-icon">
                <use href="./img/sprite.svg#chevron-left"></use>
              </svg>
            </button>
          </li>
          <li>
            <button class="slider-btn slider-btn-next" type="button">
              <svg class="slider-icon">
                <use href="./img/sprite.svg#chevron-right"></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
      <div class="hero-txt-wrap">
        <p class="hero-txt">
          The Mimino hotel features spacious and stylish double luxury rooms
          with modern amenities for a comfortable stay.
        </p>
      </div>
    </div>
  </div>
</section>
