<section class="amen-facil section">
  <div class="container">
    <ul class="amen-facil-list">
      <li class="amen-facil-item">
        <h3 class="section-subtitle">General Amenities & Facilities:</h3>

        <ul class="amenities-list">
          <li class="amenities-list-item">24-hour front desk service</li>
          <li class="amenities-list-item">Daily housekeeping</li>
          <li class="amenities-list-item">Free Wi-Fi throughout the hotel</li>
          <li class="amenities-list-item">Elevator access</li>
          <li class="amenities-list-item">Luggage storage</li>
          <li class="amenities-list-item">Non-smoking rooms available</li>
          <li class="amenities-list-item">
            Meeting rooms for business and events
          </li>
          <li class="amenities-list-item">On-site parking (surcharge)</li>
          <li class="amenities-list-item">Concierge services</li>
        </ul>
      </li>

      <li class="amen-facil-item">
        <h3 class="section-subtitle">Bathroom:</h3>

        <ul class="amenities-list">
          <li class="amenities-list-item">Private bathroom with shower</li>
          <li class="amenities-list-item">Complimentary toiletries</li>
          <li class="amenities-list-item">Hair dryer</li>
          <li class="amenities-list-item">Fresh towels daily</li>
          <li class="amenities-list-item">
            Deluxe bathrobes (in some room categories)
          </li>
        </ul>
      </li>

      <li class="amen-facil-item">
        <h3 class="section-subtitle">Bedroom:</h3>

        <ul class="amenities-list">
          <li class="amenities-list-item">
            Comfortable beds with high-quality linens
          </li>
          <li class="amenities-list-item">Blackout curtains</li>
          <li class="amenities-list-item">
            Climate control (air conditioning and heating)
          </li>
          <li class="amenities-list-item">Safe for valuables</li>
          <li class="amenities-list-item">Writing desk and chair</li>
          <li class="amenities-list-item">
            Flat-screen TV with cable channels
          </li>
        </ul>
      </li>

      <li class="amen-facil-item">
        <h3 class="section-subtitle">Kitchen:</h3>

        <ul class="amenities-list">
          <li class="amenities-list-item">
            In-room kitchenette (in some room categories)
          </li>
          <li class="amenities-list-item">Refrigerator</li>
          <li class="amenities-list-item">Microwave</li>
          <li class="amenities-list-item">Electric kettle</li>
          <li class="amenities-list-item">Cooking utensils and cutlery</li>
          <li class="amenities-list-item">Dining table and chairs</li>
        </ul>
      </li>

      <li class="amen-facil-item">
        <h3 class="section-subtitle">Media:</h3>

        <ul class="amenities-list">
          <li class="amenities-list-item">
            Flat-screen TV with cable channels
          </li>
          <li class="amenities-list-item">High-speed Wi-Fi</li>
          <li class="amenities-list-item">iPod docking station</li>
          <li class="amenities-list-item">Speaker system</li>
          <li class="amenities-list-item">Cooking utensils and cutlery</li>
          <li class="amenities-list-item">
            Electrical outlets for charging devices.
          </li>
        </ul>
      </li>
    </ul>

    <div class="amen-img-btn-wrapper">
      <div class="amen-img-wrapper">
        <picture class="amen-img">
          <!-- Desktop screen -->
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/room/amenities/Rectangle_3671_desk.webp    1x,
              ./img/room/amenities/Rectangle_3671_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/room/amenities/Rectangle_3671_desk.jpg    1x,
              ./img/room/amenities/Rectangle_3671_desk@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/room/amenities/Rectangle_3671_tabl.webp    1x,
              ./img/room/amenities/Rectangle_3671_tabl@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/room/amenities/Rectangle_3671_tabl.jpg    1x,
              ./img/room/amenities/Rectangle_3671_tabl@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/room/amenities/Rectangle_3671_mob.webp    1x,
              ./img/room/amenities/Rectangle_3671_mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/room/amenities/Rectangle_3671_mob.jpg    1x,
              ./img/room/amenities/Rectangle_3671_mob@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./img/room/amenities/Rectangle_3671_mob.jpg"
            alt="Badroom"
            loading="lazy"
          />
        </picture>

        <picture class="amen-img">
          <!-- Desktop screen -->
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/room/amenities/Rectangle_3672_desk.webp    1x,
              ./img/room/amenities/Rectangle_3672_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/room/amenities/Rectangle_3672_desk.jpg    1x,
              ./img/room/amenities/Rectangle_3672_desk@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/room/amenities/Rectangle_3672_tabl.webp    1x,
              ./img/room/amenities/Rectangle_3672_tabl@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/room/amenities/Rectangle_3672_tabl.jpg    1x,
              ./img/room/amenities/Rectangle_3672_tabl@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/room/amenities/Rectangle_3672_mob.webp    1x,
              ./img/room/amenities/Rectangle_3672_mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/room/amenities/Rectangle_3672_mob.jpg    1x,
              ./img/room/amenities/Rectangle_3672_mob@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./img/room/amenities/Rectangle_3672_mob.jpg"
            alt="Badroom"
            loading="lazy"
          />
        </picture>
      </div>
      <button class="main-btn js-open-modal" type="button" data-modal="2">
        book a room
      </button>
    </div>
  </div>
</section>
