.overlay {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bg-40);
  transition: opacity var(--main-transition), visibility var(--main-transition);
}
.modal {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  z-index: 1001;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%) scale(1);
  padding: 24px 24px 40px;
  border-radius: 2px;
  background: var(--main-black-bg);
  color: var(--modal-white-txt-cl);
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);

  transition: transform var(--main-transition), opacity var(--main-transition),
    visibility var(--main-transition);
}
@media screen and (min-width: 375px) {
  .modal {
    width: 335px;
  }
  .modal-price {
    min-height: 414px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 628px;
    padding: 32px 32px 60px;
  }
  .modal-price {
    height: 430px;
  }
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1.1);
}

.modal .close-icon {
  position: absolute;
  height: 28px;
  width: 28px;
  top: 14px;
  right: 14px;
  border-radius: 6px;
  cursor: pointer;
  stroke: var(--modal-white-txt-cl);
  transition: background-color var(--main-transition),
    transform var(--main-transition);
}
.modal .close-icon:hover,
.modal .close-icon:focus {
  background-color: var(--gray-txt-cl);
  transform: scale(1.1);
  border: none;
  outline: none;
}
.modal-title {
  font-weight: normal;
  font-size: 28px;
  line-height: 1.36;
  margin-bottom: 40px;
}
.modal-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.02em;
  color: var(--main-white-txt-cl);

  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .modal-subtitle {
    margin-bottom: 32px;
  }
  .modal-title {
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 60px;
  }
}
input,
input::placeholder,
select {
  display: block;
  color: var(--modal-white-txt-cl);
  width: 95%;
  height: 36px;
  padding-bottom: 18px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  transition: border-color var(--main-transition);
}
@media screen and (max-width: 374.98px) {
  .modal-title {
    font-size: 21px;
  }
  .modal-subtitle {
    font-size: 16px;
  }

  input,
  input::placeholder,
  select {
    font-size: 13px;
  }
}
@media screen and (min-width: 375px) {
  input,
  select {
    display: block;
    color: var(--modal-white-txt-cl);
    width: 287px;
    height: 36px;
  }
}
@media screen and (min-width: 768px) {
  /*input, select {
        width: 266px;
    } */
}
input::placeholder {
  color: var(--modal-white-txt-cl);
  margin-bottom: 18px;
}

.modal-label:not(:last-child) {
  display: block;
  margin-bottom: 32px;
}
.modal-label {
  position: relative;
}
.modal-label.rel > .input-field {
  cursor: default;
}
.labels-wrapper {
  margin-bottom: 40px;
}
.modal-label.mobile-label {
  margin-bottom: 0;
}
.label-desc {
  display: block;
  height: 12px;
  font-size: 8px;
  line-height: 1.5;
  letter-spacing: 0.18em;
  margin-top: 8px;
  color: var(--second-white-txt-cl);
}
@media screen and (min-width: 768px) {
  .modal-label.mobile-label {
    display: none;
  }
  .field-set {
    display: flex;
    flex-wrap: wrap;
  }
  .field-set-price {
    column-gap: 16px;
  }
  .field-set-room,
  .field-set-table {
    column-gap: 32px;
    row-gap: 40px;
  }
  .modal-label:last-child {
    left: 0;
  }

  /*.field-set-item {
        display: flex;
        flex-direction: column;
    }*/
  input,
  select {
    width: 266px;
  }
  .modal-label:not(:last-child) {
    margin-bottom: 0;
  }
  .labels-wrapper {
    margin-bottom: 80px;
  }
}
.tab-desc-label {
  display: none;
}

@media screen and (min-width: 768px) {
  .tab-desc-label {
    display: block;
  }
  .mob-label {
    display: none;
  }
  .order-label {
    order: 1;
  }
}
.modal .input-field {
  color: inherit;
  background-color: var(--main-black-bg);
  border: none;
  border-bottom: 0.8px solid rgba(247, 247, 247, 0.2);
}
@media screen and (max-width: 767.98px) {
  .modal .input-field {
    width: 100%;
  }
}

.input-field:focus {
  outline: none;
  border: none;
  border-bottom: 0.8px solid var(--modal-white-txt-cl);
}

input:not(:focus):valid,
select:not(:focus):valid,
input:disabled {
  border: none;
  border-bottom: 0.8px solid var(--modal-white-txt-cl);
}
select {
  appearance: none;
}
.select-icon {
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none;
  stroke: var(--main-white-txt-cl);
}

.modal-btn {
  color: var(--modal-white-txt-cl);
  border-color: var(--modal-white-txt-cl);

  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  height: 46px;
}
@media screen and (min-width: 375px) {
  .modal-btn {
    padding-left: 48px;
    padding-right: 48px;
  }
}
@media screen and (min-width: 768px) {
  .modal-btn {
    padding-left: 130px;
    padding-right: 130px;
    height: 52px;
  }
}
