@import url('../styles.css');
.modal:first-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    min-height: 528px;
    padding: 24px 24px 40px;
    border-radius: 2px;
    background: var(--main-black-bg);
    color: var(--modal-white-txt-cl);
}
@media screen and (min-width:375px) {
    .modal {
        max-width: 335px;
    }
}

.close-icon {
    position: absolute;
    height: 28px;
    width: 28px;
    top: 14px;
    right: 14px;
    stroke: var(--modal-white-txt-cl);
}

.table_booking_form, .room_booking_form, .price-per-room-form {
    
}

.modal-title {
    font-weight: normal;
    font-size: 28px;
    line-height: 1.36;
    margin-bottom: 40px;
}
input, select {
    display: block;
    color: var(--modal-white-txt-cl);
    width: 287px;
    height: 36px;
}
input::placeholder {
    
    color: var(--modal-white-txt-cl);
    margin-bottom: 18px;
}
select option { 
    color: black; 
}

.labels-wrapper {
    margin-bottom: 32px;
}
.modal-label {
    
}
.modal-label:not(:last-child) {
    display: block;
    margin-bottom: 32px;
   
}
.input-field {
    background-color: transparent;
    border: none;
    border-bottom: 0.8px solid rgba(247, 247, 247, 0.2);
}
.input-field:focus {
    outline: none;
    border: none;
    border-bottom: 0.8px solid var(--modal-white-txt-cl);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
    color: var(--modal-white-txt-cl);
}

input:not(:focus):valid, select:not(:focus):valid {
    border: none;
    border-bottom: 0.8px solid var(--modal-white-txt-cl);
}
.label-desc {
    font-size: 8px;
    line-height: 1.5;
    letter-spacing: 0.18em;
    margin-top: 8px;
    color: var(--second-white-txt-cl);
}

.modal-btn {
    color: var(--modal-white-txt-cl);
    border-color: var(--modal-white-txt-cl);
    height: 100%;
    padding: 14px 48px;
    margin-left: auto;
    margin-right: auto;
}