.hero {
  margin: 0 auto;
  padding: 507px 0 40px 0;

  background-color: var(--main-black-bg);

  background-image: var(--hero-mob_tabl-bg-gradient),
    url(/img/home-page/hero/unsplash_RFDP7_80v5A_mob.jpg);
  background-size: 335px 439px;
  background-repeat: no-repeat;
  background-position: 50% 118px;
  text-align: center;
}

@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2),
  screen and (max-width: 767.98px) and (min-resolution: 192dpi),
  screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--hero-mob_tabl-bg-gradient),
      url(/img/home-page/hero/unsplash_RFDP7_80v5A_mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 606px 0 38px 0;

    background-image: var(--hero-mob_tabl-bg-gradient),
      url(/img/home-page/hero/unsplash_RFDP7_80v5A_tabl.jpg);
    background-size: 542px 710px;
    background-position: 50% 128px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--hero-mob_tabl-bg-gradient),
      url(/img/home-page/hero/unsplash_RFDP7_80v5A_tabl@2x.jpg);
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    max-width: 1440px;
    padding: 274px 0 48px 0;
    text-align: left;

    background-image: var(--hero-desk-bg-gradient),
      url(/img/home-page/hero/unsplash_RFDP7_80v5A_desk.jpg);
    background-size: 542px 770px;
    background-position: right;
  }
}

@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1440px) and (min-resolution: 192dpi),
  screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--hero-desk-bg-gradient),
      url(/img/home-page/hero/unsplash_RFDP7_80v5A_desk@2x.jpg);
  }
}

.hero-home-title {
  font-weight: 400;
  font-size: 80px;
  line-height: calc(80 / 80);

  margin-bottom: 24px;

  letter-spacing: -0.02em;

  color: var(--main-white-txt-cl);
}

@media screen and (min-width: 768px) {
  .hero-home-title {
    margin-bottom: 32px;
    font-size: 150px;
    line-height: calc(150 / 150);
  }
}

@media screen and (min-width: 1440px) {
  .hero-home-title {
    margin-bottom: 196px;
    font-size: 180px;
    line-height: calc(180 / 180);
  }
}

@media screen and (min-width: 1440px) {
  .hero-home-block {
    display: flex;
  }
}

.hero-home-btn-list {
  margin-bottom: 66px;
  gap: 14px;
}

@media screen and (min-width: 768px) {
  .hero-home-btn-list {
    margin-bottom: 86px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-home-btn-list {
    order: 2;
    margin-bottom: 0;
  }
}

.hero-home-btn {
  color: var(--main-white-txt-cl);
  font-size: 14px;
  line-height: calc(18 / 14);
}

@media screen and (min-width: 768px) {
  .hero-home-btn {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}

@media screen and (min-width: 1440px) {
  .hero-home-btn {
    font-size: 18px;
    line-height: calc(24 / 18);
  }
}

.hero-home-text-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

@media screen and (min-width: 1440px) {
  .hero-home-text-list {
    margin-right: 275px;
  }
}

.hero-home-text {
  line-height: calc(18 / 14);
  max-width: 335px;

  text-align: left;
  letter-spacing: 0.05em;

  color: var(--main-white-txt-cl);
}
